[2015-11-17 13:32] pedrovgs opened #1 "Support requesting multiple permissions at the same time."
With the current Dexter implementation we are only allowed to request one permission at a time. We have to add a new feature to the library to be able to request multiple permissions with just one call to the library.

[2015-11-17 13:45] aconsuegra opened #2 "Add action to go to app settings in Snackbar"
The Snackbar shown after a permission is denied could show an action to enable the permission in app settings

[2015-11-17 13:48] pedrovgs commented on #2
As we've talked, we will wait for your PR @aconsuegra :) Thanks!

[2015-11-17 13:49] pedrovgs commented on #2
@Serchinastico this is already implemented, isn't it?

[2015-11-17 13:51] aconsuegra commented on #2
Ouch, it seems it is supported in the API, but I didn't see it in the .gif 😥

[2015-11-17 13:53] #2 closed

[2015-11-17 13:58] Serchinastico commented on #2
Yup, I'll update the gif ASAP, it was a last minute feature :)

[2015-11-17 14:02] diego-gomez-olvera opened #3 "Permissions should be granted when the permission did not exist"
There is a blog post about permissions:

 https://commonsware.com/blog/2015/11/09/you-cannot-hold-nonexistent-permissions.html

That explains that the compatibility library does not handle well the permissions in Android versions before a certain permission was added. I was planning to create a little snippet to deal with this issue, but having this library it would be convenient if it would take

[2015-11-17 15:33] Serchinastico opened #4 "Research if it's possible to provide better feedback for perma-denied permissions"
We should investigate if it's possible to add a new method in ``PermissionListener`` to notify clients when the user denies a permission and asks Android to never ask him again about it.

[2015-11-17 16:00] anothem commented on #4
The only way I know of doing it is by recording (e.g. using a shared preference) if the permission was ever requested before. If it was requested before AND showRationale() returns false, it means it was perma-denied. Recording the previous request is needed because showRationale() returns false both when perma-denied and when the permission was never requested at all.

It would be easy to add som

[2015-11-17 16:06] anothem commented on #4
Actually cross that. Since this check would happen in the listener, it means the permission must have been requested at least once before, specifically the request that invoked this very listener. So it might be sufficient to check shouldShowRationale() in the listener, and if false it's perma-denied.
Need to test this to confirm, but seems like it should work. I'd be glad to look into it and subm

[2015-11-17 16:12] Serchinastico commented on #4
@anothem thanks for the insight! I'd add another case: what happens if the user changes the permissions manually through the android settings, will we be able to detect it somehow?

Feel free to send us a PR if you find a clean solution and we will be glad to review it.

[2015-11-17 21:18] Serchinastico commented on #1
We need to think how to inform the library client of the different states for each permission requested, keep in mind that the user can grant some of them and deny the rest.
I'll play with Android to see how multiple permission requests are displayed to the user and think of an approach based on that.

[2015-11-17 23:00] JcMinarro opened #5 "Requesting some permissions doesn't work"
When you request for a `Manifest.permission.ACCESS_COARSE_LOCATION` or `Manifest.permission.ACCESS_FINE_LOCATION` Dexter doesn't work. It is because the hashcode of these permissions is a negative value and you can't use a nevative value as a `requestCode`.

[2015-11-17 23:21] Serchinastico commented on #5
Nice finding, there is already a PR ongoing to fix this issue.
Thanks for reporting!

[2015-11-17 23:33] JcMinarro commented on #5
I am going to do a PR that fixes it and add other funcionality ;)

[2015-11-17 23:36] Serchinastico commented on #5
Thanks @JcMinarro! Do you mind creating one PR for the fix and another one for the new functionality? It will make it easier for us to validate them.

[2015-11-17 23:42] JcMinarro commented on #5
Ups, I have created the two PRs together. Sorry.
The fix is only one line.
if you consider necessary to split it, let me now

[2015-11-18 10:28] Serchinastico commented on #5
Your fix has been included in v1.0.2, thanks!

[2015-11-18 10:28] #5 closed

[2015-11-18 10:42] pedrovgs commented on #5
Thanks @JcMinarro!

[2015-11-19 11:30] Shusshu commented on #1
Yes, this is important as for example to use the camera you need CAMERA & RECORD_AUDIO permissions

[2015-11-19 15:20] liqian685 opened #9 "Only one permission request at a time."
How can I deal this：

java.lang.IllegalStateException: Only one permission request at a time. Currently handling permission: [android.permission.WRITE_EXTERNAL_STORAGE]
11-20 00:15:17.036 27963-27963/? E/CustomActivityOnCrash:     at com.karumi.dexter.DexterInstance.checkPermission(DexterInstance.java:51)
11-20 00:15:17.036 27963-27963/? E/CustomActivityOnCrash:     at com.karumi.dexter.Dexter.che

[2015-11-19 15:55] Serchinastico commented on #9
Hi @liqian685.

This is a limitation we forced to avoid weird interactions with Dexter. Right now users can only request one permission at a time, this means you have to completely *resolve* one permission(i.e. wait to receive a ``onPermissionGranted`` or ``onPermissionDenied`` call) before requesting another. We are implementing the possibility to ask for multiple permissions with a single Dexter

[2015-11-19 16:59] liqian685 commented on #9
It work when i use the token. thanks

[2015-11-19 17:00] Serchinastico commented on #9
You are welcome, if the problem reoccur we might need to rethink that part

[2015-11-19 17:00] #9 closed

[2015-11-20 12:00] blipinsk opened #10 "Follow git-flow for the repo"
Hi guys!

Would it be possible for you to follow git-flow for the repo?
It can be a bit confusing, if you've got not-yet-released features on your `master` branch.
E.g. I wanted to peek into your `sample` module, and saw completely different `PermissionListener` being used. And I needed to perform a small investigation to see if I was doing something wrong or if it was just something not yet relea

[2015-11-20 16:02] Serchinastico commented on #10
Hi @blipinsk

We have discussed this internally and we've got to the conclusion of keeping the repository as simple as possible. We will use master for small non-breaking changes/fixes and create other branches for bigger features (like adding support for perma-denied permissions & multirequest). The fact that the repository is not following this rule right now is just a mistake we are trying to f

[2015-11-20 16:02] #10 closed

[2015-11-20 16:34] blipinsk commented on #10
Fair enough :smirk: , thanks for the response.

Great job on the library by the way, relatively simple, but highly useful. :+1:
I'm hoping you'll manage to implement the callback on the perma-denied permissions into the library. It would be the icing on the cake.

[2015-11-24 01:18] greysonp opened #14 "Demo crashes when rotating."
1. Request a permission.
1. While the rationale is showing, rotate the device (the dialog will be dismissed).
1. Click the button request the permission again.
1. App crashes.

[code]

[2015-11-24 08:36] pedrovgs commented on #14
Thanks @greysonp! We are working on it :)

[2015-11-24 09:01] Serchinastico commented on #14
We are fixing it the lazy way (it's just a sample project after all) by forcing the activity in portrait mode. Thanks for the report!

[2015-11-24 09:05] pedrovgs commented on #14
If I'm not wrong, the library user should handle this behaviour by himself. We can't add code to the library to fix this bug, just fix the sample as we are doing.

[2015-11-24 09:58] Serchinastico commented on #4
Merged in master and added to release 2.0.0, thanks again @anothem !

[2015-11-24 09:58] #4 closed

[2015-11-24 09:59] Serchinastico commented on #1
Released in 2.0.0!

[2015-11-24 09:59] #1 closed

[2015-11-24 09:59] Serchinastico commented on #14
Fixed in 2.0.0

[2015-11-24 09:59] #14 closed

[2015-11-24 10:03] pedrovgs commented on #3
Thanks for the issue @diego-gomez-olvera! We've been talking about this issue for the last two days and implement this could be quite interesting but hard to maintain at the same time. We need to review manually all the permissions declared per Android version and create a map with this information. Maybe you want to send us a PR ;)

[2015-11-24 11:44] diego-gomez-olvera commented on #3
@pedrovgs I can send a PR whenever I have time. It is a bit tedious task, but it does not require maintenance once it is done. API 23+ do not need it, and I intended to support since API 15 (the currently minimum reasonable version), and for that you can simply check the API diff:

http://developer.android.com/sdk/api_diff/22/changes/android.Manifest.permission.html

or parse the source code of th

[2015-11-24 11:53] pedrovgs commented on #3
I have to talk about the min sdk version used to @Serchinastico. We have a PR to support API 10 as min sdk version pending to review, but I don't know if we should support it. Thoughts @Serchinastico @flipper83 ?

[2015-11-24 14:49] anothem commented on #4
No problem, glad to help :)

[2015-11-24 21:05] greysonp opened #15 "Provide example on how to handle device rotation."
When you request a permission, Dexter makes note that a permission request is outstanding. If I previously denied a permission, I'll get the callback ```showPermissionRationale(PermissionToken)```. We're supposed to use this to continue our permission request with ```PermissionToken.continuePermissionRequest()``` or cancel it with ```PermissionToken.cancelPermissionRequest()```. However, if I choo

[2015-11-25 09:00] pedrovgs commented on #15
Thanks @greysonp I'm working on it :)

[2015-11-25 09:52] Serchinastico commented on #3
I can do some testing with old android versions to see if we will have to deal with something else but keep in mind that only ~4% of android users would potentially benefit from this feature so I don't see it as a major issue

[2015-11-25 17:14] virtualvoid opened #18 "Package installer has stopped."
This error is happenning on sample application in genymotion vm (preview of google nexus 5x, android 6) :
[code]

immediatelly FC the package manager, the logcat :
[code]

[2015-11-25 17:19] pedrovgs commented on #18
Hi @virtualvoid thanks for the issue. What's the library version you are using to reproduce that bug?

[2015-11-25 17:28] virtualvoid commented on #18
Hi @pedrovgs

it's probably the latest : 1.0.2

I don't know if it's related, but i tried playing with <uses-permission and <uses-permission-sdk-23 and the error is gone. but dexter is now returning "granted" for every permission that i'm trying (even if it's not in manifest).

[2015-11-25 18:35] Serchinastico commented on #18
Hi @virtualvoid

From  the Android documentation (http://developer.android.com/training/permissions/requesting.html):

``Manifest.permission.INTERNET`` is not a dangerous permission so you shouldn't need to call Dexter to use it.

Either way I've been doing some tests using the latest version of Dexter and looks it's doing the right thing, that is, calling the granted callback if the permission is

[2015-11-25 18:56] pedrovgs commented on #18
@virtualvoid can you try in a real device with a permission like the Camera or the Audio? As @Serchinastico says, you should not ask for that permission.

[2015-11-26 07:32] virtualvoid commented on #18
Thanks for the replies. I'll look onto it.

[2015-11-26 11:23] Konrad-Morawski opened #20 "No way to synchronize Dexter requests, sample app crashes"
Hi there,
the library looks promising, thanks. However it's very easy to crash your sample app, all it takes is tapping on a couple of buttons rapidly (before the dialog box pops up):

    FATAL EXCEPTION: main
    Process: com.karumi.dexter.sample, PID: 2514
    java.lang.IllegalStateException: Only one Dexter request at a time is allowed
        at com.karumi.dexter.DexterInstance.checkNoDexterR

[2015-11-26 11:32] pedrovgs commented on #20
Hi @Konrad-Morawski thanks for your issue! The developer using the library should be the one checking don't call Dexter twice without deny/accept permissions. From our side, the only thing we can do is to change the `ìsRequestingPermission`` method, but even if this method is public the developer using the library will have to check if the permission has been requested or not. What do you think @s

[2015-11-26 11:36] pedrovgs commented on #20
We should not throw an exception from Dexter without offer a method to check if the exception is going to be thrown or not.

[2015-11-26 11:45] Serchinastico commented on #20
Yup, I agree with you both, we can make a public getter for that attribute to avoid forcing library clients to do exception-based flows. PRs are welcome!

[2015-11-26 11:53] pedrovgs commented on #20
@Konrad-Morawski @flipper83 can you implement this feature?

[2015-11-26 11:56] Konrad-Morawski commented on #20
@pedrovgs I could do this today I guess

[2015-11-26 12:07] pedrovgs commented on #20
Cool, thanks!

[2015-11-26 12:23] Konrad-Morawski commented on #20
Done, see if it's acceptable please...

[2015-11-26 13:51] pedrovgs commented on #20
Merged ;) Thanks for your help @Karumi/owners !

[2015-11-26 13:51] #20 closed

[2015-11-26 13:53] Konrad-Morawski commented on #20
Nice, thank you too for prompt action and for the library, it gives us some spare time for coffee as we'd have to end up writing something similar ourselves otherwise ; )

[2015-11-27 11:59] jackmiras opened #23 "Dexter.java avaliable on gradle is diferent of Dexter.java avaliable on github repository"
The class Dexter.java avaliable by gradle doesn't contain the method isRequestOngoing and the class Dexter.java avaliable in the github repository does. Can you guys publish another version of Dexter to use by gradle that contains isRequestOngoing method?

[2015-11-27 14:38] liqian685 opened #24 "Memory leak"
I detect memory leaks  by the library(https://github.com/square/leakcanary) in my app.It report this https://drive.google.com/open?id=0BzO_M3MAsb-CbFVkQU4tclRrMDg

[2015-11-28 08:25] pedrovgs commented on #24
Hi @liqian685 thanks for the issue. We will review this carefully.

[2015-11-28 16:09] emmano commented on #24
@liqian685 Are you calling `Dexter.initialize(this)` inside an `Activity`? If so, pass the application `Context` instead of `this`.

I think you might see the leak due to this inside `Dexter.java`:

  instance = new DexterInstance(context, androidPermissionService, intentProvider);

As you can see, `instance` is a `static` variable, so if you pass this to `Dexter.initialize()` while inside an `Act

[2015-11-30 03:30] GradyYu opened #26 "Attribute "borderWidth" has already been defined"
android support library 23.1.1 has been defind "borderWidth"

[2015-11-30 03:38] AndyFrench commented on #20
@pedrovgs any idea when this next build is going to be published?

[2015-11-30 07:32] pedrovgs commented on #20
@AndyFrench we are going to publish it this week :)

[2015-11-30 07:37] pedrovgs commented on #26
Hi @GradyYu your problem could be related with the compatibility library usage. Dexter uses a version and maybe you are using another one. Can you exclude the Android compatibility library from Dexter and try again? This could give use a clue to fix your problem.

Here you have an example:

[code]

[2015-11-30 07:41] pedrovgs commented on #23
Hi @jackmiras we are going to publish a new version this week. We are waiting for a PR review :)

[2015-11-30 10:51] Serchinastico commented on #15
Version 2.1.0 contains methods and an example of how to handle this with the library. Thank you all for your contribution!

[2015-11-30 10:51] #15 closed

[2015-11-30 10:53] ANPez opened #27 "Exception when requesting permissions after rationale shown"
I am creating a new permission request after showing the rationale to the user, and the library si failing with the exception:

   Only one Dexter request at a time is allowed

[2015-11-30 11:10] Serchinastico commented on #27
Hi @ANPez

How are you handling the rationale? When the library calls ``onPermissionRationaleShouldBeShown`` it will handle you a ``PermissionToken`` that you must use to continue/cancel the permission request. If you don't use your token then Dexter will get blocked waiting for a response from the token and won't let you ask for other permissions.

To sum up, review your listener and check if you

[2015-11-30 11:13] ANPez commented on #27
Could you please document that behaviour? I couldn't find any examples and I am sure I'm using it the wrong way :)

[2015-11-30 11:33] Serchinastico commented on #27
It is already documented in the sample & jdoc but I've just added a paragraph in the README to make it more visible for everyone (https://github.com/Karumi/Dexter#showing-a-rationale)

Hope it helps!

[2015-11-30 11:40] Serchinastico commented on #23
Hi @jackmiras

This will happen from time to time as we are using master for backwards-compatible changes in order to keep the repository simple. We are sorry for the inconveniences this flow might cause but we already discussed it and we think the size of the project is not worth a more complex solution.

Anyways, the latest version has been already released in github and will be available in mav

[2015-11-30 11:40] #23 closed

[2015-11-30 12:04] ANPez commented on #27
Thanks!

[2015-11-30 12:04] #27 closed

[2015-12-01 04:56] GradyYu commented on #26
@pedrovgs Thanks!

[2015-12-01 04:56] #26 closed

[2015-12-01 13:51] pedrovgs commented on #18
News about this issue @virtualvoid ?

[2015-12-01 14:55] pedrovgs commented on #24
Fixed at #25 and already released :)

[2015-12-01 14:55] #24 closed

[2015-12-01 17:57] virtualvoid commented on #18
Unfortunately no, I haven't tested it on real device yet. But I have better
understanding of how it works beneath, so I don't think this was a real
issue anymore.

I'll check it again, when marshmallow will rollout for my LG G3.

[2015-12-01 18:18] #18 closed

[2015-12-04 11:33] andaag opened #30 "does not deal with saveinstancestate"
I see your using static references to instance, this means if your activity is killed during the request (can happen with rotate or if the user switches out of the app to google a permission) this will not work.

[2015-12-04 11:43] davideme commented on #30
Yes we are using static reference, but as mention in the Readme https://github.com/Karumi/Dexter#screen-rotation, Dexter allow you to handle theses cases with continuePendingRequestsIfPossible.
Take a look to the documentation and tell us if we are missing something that can be helpfull to be more explicit.

[2015-12-04 11:43] #30 closed

[2015-12-05 18:22] andaag commented on #30
I think  it was more a lack of research on my side than the lacking documentation that was at fault there. Sorry about the noise!

[2015-12-05 18:27] pedrovgs commented on #30
No problem :)

[2015-12-06 18:30] cmc00022 opened #31 "Keep execution context on permission requested."
Hi guys,

I just found out a behaviour that I was not expecting, although I'm not quite sure it should be consider as an issue. But definitely it's something I wasn't expecting.

If a permission is requested from a background thread the result is returned on the main thread.

I was having a look at the code and the reason seems to be that when the internal activity that the lib uses is started it

[2015-12-06 18:59] Serchinastico commented on #31
Hi @cmc00022

Definitely we are not taking care of which thread we are calling the callback on, we need to discuss if that's something we want to give support though. I think it'd be rather easy but I want to talk about it with @pedrovgs and @flipper83 first

[2015-12-06 19:12] cmc00022 commented on #31
Thanks for considering :+1:

[2015-12-09 08:24] pedrovgs commented on #31
@cmc00022 do you need to keep te execution context?

[2015-12-09 14:08] cmc00022 commented on #31
On my particular case I just need the callback to be returned out of the ui thread.

As a more general solution, I'd say that ideally it should just return the callback on the thread that made the request.

[2015-12-09 14:11] pedrovgs commented on #31
As you said, this is not needed right now, so we'll wait for a PR to implement this feature. Feel free to send one if you want :)

[2015-12-09 14:17] cmc00022 commented on #31
I'll create a PR as soon as I can.

Thanks.

[2015-12-14 09:05] cmc00022 commented on #31
@pedrovgs thinking about adding a sync public method for clients that expect the result to be returned on the same thread, any thoughts?

[2015-12-14 09:26] pedrovgs commented on #31
Definitively you should add a new method to the api, but this can't be sync. You'll have to keep the looper used in the code invocation and then create a handler to notify the listener over that looper. The method can't be synchronous because we have to start an activity and in addition, if we the library is used from the UI thread we don't want to block it.

[2015-12-14 09:32] cmc00022 commented on #31
Ok, I'll try to find some spare time and have a working solution by the end of this week. I'll get back to you then.

Thanks.

[2015-12-16 08:01] johnwatsondev opened #34 "DexterActivity is still leak even set launchMode="singleTask""
Snapshot:
![e40bde2d0fb41a0fd4f5e3276a3813a4](https://cloud.githubusercontent.com/assets/12760754/11835402/31189fe6-a40e-11e5-8af1-fd966ec754a6.jpg)
Proguard mapping info:
[code]
PR #25 have tried to fix this issue. Please review and test it.
Thanks a lot!

[2015-12-16 08:06] Serchinastico commented on #34
Hi @johnwatsondev

Thanks for reporting, could you please tell us which version of Dexter are you using?

[2015-12-17 02:41] johnwatsondev commented on #34
2.1.2 :smiley:

[2015-12-17 09:22] Serchinastico commented on #34
I might have an idea what the problem might be, let me take a look and I'll let you know

[2015-12-17 10:09] #34 closed

[2015-12-17 10:10] Serchinastico commented on #34
I'm preparing release 2.1.4 with the fix. Again, thanks for reporting!

[2015-12-17 12:45] johnwatsondev commented on #34
@Serchinastico You're welcome. Thanks for feedback quickly!

[2015-12-23 09:53] goonerDroid opened #36 "Proguard rules for Dexter"
Is there any proguard rule for Dexter?

[2015-12-23 10:04] pedrovgs commented on #36
If I'm not wrong you don't need any special proguard configuration to get Dexter working into your project.

[2015-12-23 10:19] TOMKHAN opened #37 "Saving state of some permission"
This is probably not a lib issue, but the one of not understanding one and I'm sure some other devs have the same question.

I ask for permission with PermissionListener and override those three methods. What happens in permission denied is up to me. But when I (for example, want to fetch location of the user) and he/she didn't gave the app permission to access FINE_LOCATION, it's up to me to save

[2015-12-23 10:58] pedrovgs commented on #37
Hi @TOMKHAN, thanks for your quiestion :) We are not saving the state of every permission in the app because the user can change the value of any permission even if the application is not running. You should always ask for the permission and use the listener mechanism to decide what to do depending on the permissions state.

If the user has denied the permission forever you'll always get a denied

[2015-12-23 11:44] TOMKHAN commented on #37
Hi @pedrovgs :)
Then with what method call can I check if the permission is already given? Because, if I understand correctly, onPermissionGranted() is called on user accepting the permission.

This bugs me because I have one static method getLocation() that is called 30+ times throughout the project from all types of views (Fragments/Activities) and that method is returning a GPS object, but the

[2015-12-23 11:53] pedrovgs commented on #37
``onPerissionGranted()`` is invoked on user accepting the permission or if the user has already accepted the permission.

If the user has already accepted your permission the dialog wont be shown. A similar approach is used with the deny permission execution branch. This is how the new Android Permissions System has been designed. You'll have to move your gps usage to the listener configured to us

[2015-12-23 11:57] TOMKHAN commented on #37
It's not written in the docs, so it confused me. Thanks @pedrovgs, you've helped me enough :)

And once more, good job on the lib :+1:

[2015-12-23 12:01] pedrovgs commented on #37
We didn't add this documentation to the README.md because the library usage is similar to the official Android Permission System. But I guess this can be confusing. Thanks for your question and for your time!

[2015-12-23 12:01] #37 closed

[2015-12-28 09:39] #36 closed

[2016-01-12 11:38] #31 closed

[2016-01-18 00:38] TheFinestArtist opened #43 "Not checking permission request API under 23 (M)"
I released my app using dexter and I found that there is some bugs with Android system and I cause `Only one dexter request is allowed at a time` exception.
I'm hoping not to check permission stuff under API version 23.

Here is my codes and error message.
[code]

![untitled](https://cloud.githubusercontent.com/assets/3123741/12381114/ad5197a8-bdc6-11e5-815f-c0765545af35.png)

[2016-01-18 06:48] Serchinastico commented on #43
Hi @TheFinestArtist,

Seems like your problem is caused because you are asking for permissions more than once. This may happen because you are explicitly doing so or because you have a permission that has not been resolved yet (it might be calling your `onPermissionRationaleShouldBeShown` and you are not using the token, I know this is not the case thanks to your snippet but just wanted to put it

[2016-01-19 00:10] TheFinestArtist commented on #43
@Serchinastico Thanks for letting me know there is a method `Dexter.isRequestOngoing()` but in my case, even though I consumed the token `token.continuePermissionRequest();`, Dexter still think the request is on going. I think there must be some bug for device that are using API under 23.

Following is what I did to handle this case. Since we don't need to care about run time permission for device

[2016-01-19 16:06] Serchinastico commented on #43
Hi,

It seems like an issue with pre-M devices, we'll take a look and report you back whenever we find out what the problem is.

[2016-01-20 02:23] TheFinestArtist commented on #43
@Serchinastico This is just my guess. I think the methods supported by Android system such as `checkSelfPermission` or whatever doesn't work as it should be with rooted phones. It is just my guess.

[2016-01-20 12:44] TheFinestArtist commented on #43
@Serchinastico I think you are right! `!Dexter.isRequestOngoing()` works fine!

[2016-01-20 12:44] #43 closed

[2016-01-25 12:02] Serchinastico opened #45 "Invisible activity is always created on background"
When asking for permissions, the invisible activity is always created, this might cause some issues if Dexter is called from the `onCreate` or `onResume` methods of your own activity (as it will force another call to `onCreate` & `onResume` once the inner activity is dismissed). We should only create the inner `Activity` iff `ActivityCompat.requestPermissions` is going to be called.

For calling `

[2016-01-28 07:19] dhavaljivani opened #46 "Handle SYSTEM_ALERT_WINDOW permission"
How to handle SYSTEM_ALERT_WINDOW permission using Dexter.

[2016-01-28 09:42] Serchinastico commented on #46
Hi @dhavaljivani

`SYSTEM_ALERT_WINDOW` and `WRITE_SETTINGS` are permissions that are not requested in the usual way with `requestPermissions` but with a special intent. Dexter doesn't support those permissions yet but we are open to PRs :)

[2016-02-13 13:02] indiandragon opened #47 "Dexter activity seriously limits application capabilities"
Greetings Dexter team,

This issue could be related to issue #45

I have an Activity (Webview)  which I call from browser with View intent  and  request for permissions through dexter and when I do this opens up the main activity since the DexterActivity class is called as **NEW TASK**. This would be against my application flow and I'm sure that this would affect many.

I'm requesting MultiplePerm

[2016-02-14 10:43] Serchinastico commented on #47
Hi @indiandragon,

We are aware of the issue. In the meantime, have you tried overriding the `DexterActivity` options from your own `AndroidManifest.xml`? It might solve your specific problem until someone gets a better solution (we kindly remind everyone that PRs are more than welcome :smile: ).

Thanks for reporting and your support.

[2016-02-15 14:33] marcellogalhardo opened #48 "Black screen with Launch Activity without Toolbar."
Hi, I'm using Dexter-Lib on a project and I am having a problem that always displays a black screen. The details to simulate are simple:

1 - build.app configurations.

    android {
        compileSdkVersion 23
        buildToolsVersion '23.0.2'

        defaultConfig {
            minSdkVersion 15
            targetSdkVersion 23
            versionCode 1
            versionName "1.0"

[2016-02-15 18:27] marcellogalhardo commented on #48
I discovered that the problem occurs in one Activity that has set in its manifest tag: `android: noHistory = "true"`. This is a bug or was it my fault?

[2016-02-16 11:08] Serchinastico commented on #48
Hi @marcellogalhardo,

I'd have to do some testing but I'd say that the themes system is somehow conflicting, keep in mind that the inner `DexterActivity` instance is using a non-appcompat theme (our bad and something we should probably take a look at).

I'll try to reproduce and debug the issue this week and let you know our findings.

Thanks for reporting!

[2016-02-16 21:56] Serchinastico commented on #48
I've been trying with several configurations but I can't reproduce your problem.
It would be much easier for us if you can provide us with a minimum project where the bug happens.

Either that or you can wait until we release a new version of Dexter which presumably will contain a fix to how we handle the inner activity but I'm not sure if it'll solve your problem.

[2016-02-23 18:39] marcellogalhardo commented on #48
Thank you for the feedback. I will create a project with the problem to provide for you this week!

[2016-02-23 19:20] marcellogalhardo commented on #48
@Serchinastico the code is available in the repository: [Bug Dexter Black Screen](https://github.com/marcellogalhardo/bug_dexter_black_screen/blob/master/README.md)

Note the following details:
- Styles: AppTheme.
- AndroidManifest: Activity 'android: noHistory = "true"'

When you start the application, it should display a white screen says "Hello World."
When the permission dialog appears, select

[2016-02-24 09:28] Serchinastico commented on #48
Hi @marcellogalhardo

I now understand what's happening, as you pointed out, the important thing is the `noHistory = "true"` config. When Dexter is called, it creates a new activity internally to request the permissions and pushes it into the stack, this causes your `LoginActivity` to be completely removed as it's not the top activity anymore (http://developer.android.com/guide/topics/manifest/act

[2016-02-26 10:53] Serchinastico commented on #48
I added a disclaimer in the README warning users of the library to don't use the `noHistory` flag.

[2016-02-26 10:53] #48 closed

[2016-02-26 10:59] Serchinastico opened #49 "Create in-depth acceptance tests"
As the library is getting bigger we need acceptance tests to verify all the cases we are handling.
Playing around with permissions in UI tests is usually a bad idea but this project is probably the best to do it anyways.
Do some research to run one test at a time (probably with Spoon) and reset device permissions before the execution of each test. It will be slow as hell but probably better than n

[2016-03-14 22:08] vincentjames501 opened #50 "Dexter.checkPermissionOnSameThread crashes when Looper has already been prepared"
### Expected behaviour
Calling ```Dexter.checkPermissionOnSameThread``` shouldn't crash if a looper has already been prepared

### Actual behaviour
[code]

### Steps to reproduce
In a background thread, call ```Looper.prepare()``` before calling ```Dexter.checkPermissionOnSameThread```

### Version of the library
2.2.1

### Fix
According to stack overflow adding the following to ```WorkerThread.ja

[2016-03-15 09:18] Serchinastico commented on #50
Thanks for reporting @vincentjames501 !

We'll wait for your (or others) PR and merge it ASAP

[2016-03-16 13:47] Serchinastico commented on #50
We just released version 2.2.2 with your code.

Thanks again for your report & fix!

[2016-03-16 13:47] #50 closed

[2016-03-18 17:02] xbroak commented on #20
Was this ever published? Seeing: Only one Dexter request at a time is allowed

[2016-03-18 17:16] Serchinastico commented on #20
The exception is still there because Dexter won't be able to handle more than one petition at a time, but we introduced a method `isRequestOngoing` that you can call to make sure you won't run into this situation when requesting a permission.

[2016-03-18 17:17] xbroak commented on #20
Great, thanks! Missed that!

[2016-03-18 17:35] Serchinastico commented on #20
You are welcome :)

[2016-03-24 02:53] linghp commented on #47
In DexterInstance.java:
  private void startTransparentActivityIfNeeded() {
    Intent intent = intentProvider.get(context, DexterActivity.class);
    intent.addFlags(Intent.FLAG_ACTIVITY_NEW_TASK);
    context.startActivity(intent);
  }
how to do?
When I need permission in application,but my project flow is WelcomeActivity,MainActivity. So,DexterActivity is invisible.Now,Activity stack order is D

[2016-03-28 10:15] Serchinastico opened #53 "Create a silent version to check permissions that doesn't crash if already doing it"
There seems to be a problem with the current usage of the library, people is often surprised with the `Only one Dexter request at a time is allowed` exception and are forced to write a snippet similar to:

[code]

We can simplify the library usage by removing the exception and notifying an optional callback if there is a problem instead of forcing everyone to handle that scenario. Adding a new par

[2016-03-28 10:25] Serchinastico opened #54 "Make the Dexter API fluent"
I opened an issue talking about adding a new parameter to notify Dexter errors (#53) and seems to me that adding new parameters to the current API will eventually make it impossible to develop.

I think it would be much better to create a fluent API to use Dexter both in readability and extensibility. The proposed API would be used like:

[code]

Thoughts are more than welcome.

[2016-03-29 09:51] NoelChew opened #55 "Calling Dexter.checkPermissions closes FragmentActivity"
I am using Dexter.checkPermissions to ask for Manifest.permission.RECORD_AUDIO, Manifest.permission.WRITE_EXTERNAL_STORAGE.

### Expected behaviour
After user grant access or deny access, it should execute nothing.

### Actual behaviour
It closes the FragmentActivity.

### Steps to reproduce
PermissionUtil
[code]

In Fragment:

[code]

### Version of the library
    compile 'com.karumi:dexter:2.2.

[2016-04-05 11:48] rocboronat opened #56 "Show the permission dialog after a defined delay"
### Expected behaviour
Add a way to show the Dialog after a defined delay

### Actual behaviour
The permission delay appears just when we call it. If we want to show it after some time, we've to write it in our apps

### Steps to reproduce
Call *Dexter.checkPermission()*

### Version of the library
2.2.2

If you want, I can do it and launch a PR. Are you interested on it? If you are not interested

[2016-04-05 12:10] pedrovgs commented on #56
I think this should not be inside Dexter. If you want to add a delay you can add it to your project doing something like:
[code]

This code could not compile xD but I guess you get the idea.

If @Serchinastico or @flipper83 think the same, I guess we are going to close this issue.

[2016-04-05 12:11] Serchinastico commented on #56
Hi @rocboronat

I personally don't think this feature should be implemented in Dexter, to me it's a presentation detail that you should implement in your applications and it's completely unrelated to permissions. I'd like to hear @pedrovgs or @flipper83 opinion anyways.

Thanks for the proposal!

[2016-04-05 12:11] #56 closed

[2016-04-05 12:17] rocboronat commented on #56
Totally understood. Thanks for the quick answer!

[2016-04-06 15:12] afaucogney commented on #53
I'm new to Dexter, and have not much experience with Permissions Management in 6, but I face this issue as well.
Sometime I need to request the permission to continue the user scenario, but I can't because another permission has not been resolve by the user (put in background, still not sure if this is WAKE_LOCK permission or FLAG_KEEP_SCREEN_ON feature).

In some use case, I need to force request

[2016-04-08 07:45] Serchinastico commented on #55
Hi @NoelChew

Dexter won't directly close anything for you, I'm wondering if the activity your fragment is in is declared with the `noHistory` flag. In that case, is Android itself the one removing your activity when Dexter places its own on top. Let us know if that's the case.

Thanks for reporting!

[2016-04-08 18:11] NoelChew commented on #55
I used another library and it worked well.
The problem is solved.

[2016-04-08 18:11] #55 closed

[2016-04-20 09:09] Sloy commented on #54
Awesome idea!
I would personally prefer a more semantic or granular API, such as
[code]

It's just my personals and maleable opinion. But the idea of a fluent API is great.

[2016-04-20 13:19] Mariovc opened #57 "Dialog not showing up after firts "Deny""
### Expected behaviour
Show a default `Dialog` when requesting a permission after the first "Deny"

### Actual behaviour
Nothing appears

### Steps to reproduce
1. Request permission
2. Deny permission
3. Request again permission

### Version of the library
2.2.2

### Code
It only happens when I use the default `dialogPermissionListener`:

    DialogOnDeniedPermissionListener.Builder
        .with

[2016-04-20 13:35] Serchinastico commented on #57
Hi @Mariovc

I think I know what's happening, the default `DialogOnDeniedPermissionListener` implementation doesn't handle the `onPermissionRationaleShouldBeShown` callback, letting implementers override it. That means that the second time a permission is requested Android gives you the opportunity to show a rationale to explain why your app needs the requested permission and we aren't returning a

[2016-04-20 14:16] Mariovc commented on #57
I'd rather to show a rationale by default. I think it is a better behaviour because it is what most people expect from it. If the client creates a default `DialogOnDeniedPermissionListener` and nothing happens, it seems to be that something is wrong instead of thinking it was made deliberately.

But it is open to discuss.
Thanks

[2016-04-20 21:51] Serchinastico commented on #57
Sounds like the right thing to do to me too, @pedrovgs @flipper83 thoughts?

[2016-04-21 08:49] pedrovgs commented on #57
Yeap, it sounds like the right thing to do :)

[2016-04-25 09:43] Serchinastico commented on #49
Closed due to impracticality of the task, running acceptance tests with spoon, one at a time is too slow, having the Android behaviour simulated in a mock should be good enough for our needs.

[2016-04-25 09:43] #49 closed

[2016-05-02 19:16] geekyRJ opened #60 "Permission Dialog not showing at first launch"
### Expected behavior

 Application should ask camera permission at first time  camera call from my app.

### Actual behaviour

After installing application in device when i click camera button it is not showing camera permission dialog instead it is directly opening camera. but after clearing app data  in application setting. it started showing permission request dialog. Now started work fine.  e

[2016-05-03 09:28] pedrovgs commented on #60
Hi @geekyRJ! to be able to help you we need to see how you are using Dexter to handle the user permissions. Can you paste here the code related to the permissions you have in your app?

[2016-05-03 12:09] pkleczko opened #61 "Permission rational not showing on the first permission request"
### Expected behaviour
onPermissionRationaleShouldBeShown(List<PermissionRequest> permissions, PermissionToken token) fires always when Dexter.checkPermissions is called

### Actual behaviour
Cannot understand why this happens but when I firstly call Dexter.checkPermissions with two permissions: Manifest.permission.ACCESS_FINE_LOCATION and Manifest.permission.ACCESS_COARSE_LOCATION onPermissionRat

[2016-05-03 19:45] Serchinastico commented on #61
Hi @pkleczko

First of all, thanks for reporting.

The behaviour you are describing is how actually Android permissions work, the first time you request any permission the system will simply show the dialog asking the user for her consent. If the user requests the same permission for the second time, the system will call the `shouldShowRequestPermissionRationale` callback to let you explain to you

[2016-05-03 19:48] #57 closed

[2016-05-03 20:04] Serchinastico commented on #54
I can see why you'd separate the `doWhenRationaleShouldBeShown` callback but I can't think of any use case where you wouldn't handle at least the two basic responses, `doOnGranted` and `doOnDenied`. Anyways, you can always create a composite listener with a generic `onDenied` listener and specific `onGranted` implementations, actually, you can do the same with the rationale callback as well.

In t

[2016-05-03 21:20] Sloy commented on #54
Yep you're right, it doesn't make much sense implementing only one of the two callbacks. I was thinking more on lambda support. Two methods with one functional interface can use lambdas, but one method with a two method interface can't.
But of course, at the current state of Android, lambda support should not be a priority for an API design :p

Maybe a middle solution would be a RxJava-like listen

[2016-05-03 21:26] geekyRJ commented on #60
Hi @pedrovgs  here is my code
## in Manifest file

` <application
        android:name="com.mypackagename.SampleApplication"
        android:icon="@drawable/ic_logo_karumi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

  <activity
            android:name="com.karumi.dexter.DexterActivity"
            android:launchMode="sing

[2016-05-08 19:16] pkleczko commented on #61
Yes, you're rigth. I was not aware it works like this. Thanks for reply.

[2016-05-08 19:16] #61 closed

[2016-05-12 05:17] danipl commented on #47
I think this is bothering me too, my application works with a set of fragments over one main activity, this activity doesn't change never, but when I call any Dexter methods to check permissions, the onPause() method on my activity is being called, releasing a lot of resources and crashing my app. If I handle permissions by myself without Dexter everything works fine.

[2016-05-12 08:08] Serchinastico commented on #47
Hi,

One of the ideas behind Dexter is to decouple your activities from the permissions request flow. That's why the library creates an activity of its own. We are not planning to change that behaviour, if that limits your app I'd rather recommend using other library or just handling the permissions by yourself.

Got to say though that if you have problems when your activity is being paused... you

[2016-05-16 20:21] pedrovgs commented on #49
Can we use a similar approach to the one shown in [this screencast](https://www.youtube.com/watch?v=U5YZcq557gA&feature=youtu.be&utm_source=Android+Weekly&utm_campaign=f7b91895ba-Android_Weekly_205&utm_medium=email&utm_term=0_4eb677ad19-f7b91895ba-337845529)?  Instead of execute the command from a gradle task executing the command from the test code. Thoughts?

[2016-05-19 09:48] Isabellle opened #62 "Dexter only called once"
### Expected behaviour
Dexter to ask again for permissions if they are turned off in the app settings after having accepted them

### Actual behaviour
When accepting permissions and afterwards turning them off in the settings; I'm expecting Dexter to be called in the onResume method in my BaseActivity. Since there is already a running instance it is called only once.

### Steps to reproduce
Accept

[2016-05-19 09:52] pedrovgs commented on #3
@Serchinastico can we close this issue?

[2016-05-25 12:52] MaxToyberman opened #63 "Dexter in a multi process environment"
Is Dexter safe to use in a multi process environment ?

[2016-05-27 13:34] pedrovgs commented on #63
Hi @MaxToyberman!

Dexter is ready to be used in a multi thread environment. You can invoke Dexter from different threads and choose the thread used to get the response if needed. Remember to check if there are requests going on before to check for a new permission.

Is this the answer to your question?

[2016-05-27 13:35] pedrovgs commented on #63
@Serchinastico do you have anything else to add?

[2016-05-27 13:42] Serchinastico commented on #63
Yup, if you need something more complex I'd recommend building it on top of the library

[2016-05-27 15:36] MaxToyberman commented on #63
Hi @pedrovgs @Serchinastico
I have added Firebase crash reporting to my project.
this is from the docs:

that means that Dexter.initialize will be called multiple times ?
is it a problem?

Thank you

[2016-05-27 15:56] Serchinastico commented on #63
Hi @MaxToyberman

`Dexter.initialize` method takes care of initializing its inner instance only once **but** it's not thread safe. If you call it from different threads it might have unexpected behaviour. I can't think of any situation where it shouldn't work but it wasn't designed with multithreading in mind I'd assume it won't work.

If Firebase creates a different process, though, you'd be crea

[2016-05-30 10:14] Serchinastico commented on #60
Hi @geekyRJ

I don't see anything wrong in your code. I'm wondering if you were doing a fresh install or the app was already installed on your device. If that was the case, it's possible that the installation process didn't clear the app's data and therefore your permissions state were stored from a previous execution.

[2016-05-30 10:34] Serchinastico commented on #62
Hi @Isabellle

I'm wondering if you are actually implementing the `onPermissionRationaleShouldBeShown` callback. When the user denies a permission, either through the dialog or the settings, the Android framework gives the app the opportunity to show a rationale to explain your user why do you need that permission.

In the case of Dexter, this callback is called with a token parameter. Once the ap

[2016-05-31 10:42] Serchinastico opened #64 "Improve documentation about showing the rationale"
When the user cancels a permission Dexter lets you show a rationale to your user, if the token is not used ever, the permission request might get stuck

[2016-05-31 10:52] Serchinastico commented on #45
Duplicated #47

[2016-05-31 10:52] #45 closed

[2016-05-31 10:52] #3 closed

[2016-05-31 10:54] Serchinastico opened #65 "Review what happens when Dexter is called from onCreate and other lifecycle methods"
Review the behaviour when Dexter is called from an activity `onCreate` and from the application. See if there is something we can do if it fails

[2016-05-31 10:54] Serchinastico commented on #65
Create samples

[2016-05-31 11:31] geekyRJ commented on #60
Thank you sir, I finally found the issue. the issue is only with my device. in other device it is working properly.

[2016-05-31 11:31] #60 closed

[2016-06-02 10:59] rfgamaral opened #66 "Allow access to Snackbar instance within SnackbarOnDeniedPermissionListener"
I have this use case where I'm using `SnackbarOnDeniedPermissionListener` to show a Snackbar notify the user of some denied permission with the Settings button allowing them to enable the required permission.

But I feel the need to perform some action when the Snackbar is dismissed (manually by opening the settings button or automatically when it times out). But I don't have access to the Snackba

[2016-06-02 11:05] rfgamaral opened #67 "Question about continue permission request for rationale"
If one handles `onPermissionRationaleShouldBeShown` to show a rationale to the user explaining why we need that particular permission - for instance, with an `AlertDialog` - and call `token.continuePermissionRequest()` to show the request permission dialog again, this leads into two dialogs.

Is there anyway to avoid this? I mean, show a rationale within the request permission dialog?

[2016-06-02 11:16] Serchinastico commented on #66
Hi @rfgamaral,

Those listeners are meant to be used for very simple things and as an example to implement your own. However, given they are included in the library, I don't see why we can't add such feature. It's not our number one priority but PRs are more than welcome.

Thanks for your feedback!

[2016-06-02 13:10] Serchinastico commented on #67
Hi @rfgamaral (again :P)

I'm guessing you are talking about the `DialogOnDeniedPermissionListener` implementation. As in the other issue, I'd say that it sounds completely logical to me to have access to the alert being displayed or to close it automatically when the user chooses an option.

[2016-06-02 17:59] rfgamaral commented on #67
Not necessarily.

Say I implement `PermissionsListener` and create my own `AlertDialog` inside `onPermissionRationaleShouldBeShown` to explain why I need a specific permission with my own words. Use selects `OK` and then I invoke `token.continuePermissionRequest()` and then the native rationale will be shown. Two dialogs.

I was looking for a way to get this into just one...

[2016-06-13 08:33] pedrovgs commented on #66
Fixed in #69

[2016-06-13 08:33] #66 closed

[2016-06-15 10:27] chrjsorg opened #70 "Checking Permissions results in activity finish/start loop"
I have 2 activities in my project

Activity#1 is a kind of a StartupActivity, which handles Registration/Login and a "Splashscreen" in which some REST Calls have to be made.
If everything is fine within the SplashScreen the MainActivity will be started and Activity#1 will be finished.

Even if the MainActivity (singleTop) is resumed, the StartupActivity is shown upfront.

In the MainActivity I cal

[2016-06-15 15:02] chrjsorg commented on #70
Sorry, I think this is an issue on my side, since I have the same problem without using your library.

[2016-06-15 15:02] #70 closed

[2016-06-17 05:21] Serchinastico commented on #67
What about closing the alert before calling the token?

[2016-06-17 09:41] rfgamaral commented on #67
Not sure what you mean...

[2016-06-17 14:32] Serchinastico commented on #67
I'm probably not following you here.

I understand you want to show an alert dialog when you are asked to show the rationale to your user, then when the user accepts it, close the dialog and show the native view. Your listener implementation should be similar to the following:

[code]

Am I missing something?

[2016-06-17 14:32] Serchinastico commented on #67
I'm probably not following you here.

I understand you want to show an alert dialog when you are asked to show the rationale to your user, then when the user accepts it, close the dialog and show the native view. Your listener implementation should be similar to the following:

[code]

Am I missing something?

[2016-06-17 19:51] rfgamaral commented on #67
That will give you two dialogs, your own and the rationale one. What I wanted was to have a single dialog with my own rationale words, not the platform's. But I guess this is just how the Android framework works and there's nothing this library can do about it. Feel free to close this issue.

[2016-06-18 10:32] liqian685 opened #71 "Sorry please delete the issue"
Sorry  please delete the issue

[2016-06-20 08:43] Serchinastico commented on #71
:joy:

[2016-06-20 08:43] #71 closed

[2016-06-20 08:44] Serchinastico commented on #67
Ok, I think I got what you meant.

As you said, the framework doesn't let you customize in any way the native dialog so there is no way you can do that.

[2016-06-20 08:44] #67 closed

[2016-06-20 18:23] pedrovgs commented on #63
I think we can close this issue :) Thanks for your questions!!!

[2016-06-20 18:23] #63 closed

[2016-06-20 18:25] pedrovgs commented on #62
Hi @Isabellle I'd like to know if @Serchinastico's comment was helpful. Can we close this issue or the problem is related with the library implementation?

[2016-06-20 18:27] pedrovgs commented on #53
My suggestion is to remove this exception and replace it with a Log.i call. What do you think @Serchinastico ?

[2016-06-20 18:28] #62 closed

[2016-06-20 18:28] Isabellle commented on #62
I switched to an homemade solution. Thanks for your assistance.

[2016-06-20 18:33] #46 closed

[2016-06-20 18:34] pedrovgs commented on #54
@Serchinastico do you have a branch to implement this one? Could be great to publish the 3.0.0 version with my last PR #73 and this one.

[2016-06-21 11:31] PingForward opened #74 "Group callbacks"
What for two callbacks?
[code]
May be the one with boolean will be less code?
[code]
?

[2016-06-21 11:51] #74 closed

[2016-07-14 06:24] 6bangs opened #76 "Crash when initializing Dexter 3.0.0 with a non-activity context"
[The transparent activity is no longer started with FLAG_ACTIVITY_NEW_TASK](https://github.com/Karumi/Dexter/blob/206357e284bec2013c7dcc20372243a39625a545/dexter/src/main/java/com/karumi/dexter/DexterInstance.java#L215), which results in the following crash:

[code]

I know 3.0.0 isn't released yet; just wanted to bring it to your attention in case it wasn't known.

[2016-07-16 08:54] pedrovgs commented on #76
Hi @6bangs thanks for the feedback!!

I completely forgot that we've deprecated the method to initialize Dexter using the application context. I'm going to fix it before the release.

Thanks!

[2016-07-16 09:15] pedrovgs commented on #76
Already in review :) Thanks for your feedbak!

[2016-07-17 05:58] 6bangs commented on #76
Awesome!

[2016-07-18 03:34] kenilt opened #78 "Crash when request permission"
I have got crash error when I trying to request permission. Which below:

[code]

[2016-07-18 08:12] Serchinastico commented on #78
Hi @kenilt

Just a guess but I'm seeing you are using the utility `SnackbarOnAnyDeniedMultiplePermissionsListener` class. Have you initialized its rootView with a null value? To correctly show the snackbar you need to specify what will be its parent view to successfully attach itself to it.

You have an example of how to use this class in the provided sample project included in this repository, `S

[2016-07-18 08:27] kenilt commented on #78
@Serchinastico You are right. I have initialized `SnackbarOnAnyDeniedMultiplePermissionsListener` with a ViewGroup that have not attached to its parent successfully. I have solved it by using
`view.post(new Runnable() {
            @Override
            public void run() {
                // init SnackbarOnAnyDeniedMultiplePermissionsListener here
            }
        });`

Thank you!

[2016-07-18 08:29] #78 closed

[2016-07-20 11:14] pixis opened #80 "Keyboard does not open when checking permissions < android M"
Probably because of the transparent activity.

A possible fix is:
[code]

### Version of the library

2.3.0

[2016-07-21 07:52] Serchinastico commented on #80
Hi @pixis,

Are you trying to open the keyboard while displaying the permissions request dialog? If that's the case, we can't do much as it's handled by the framework. If it's a problem while showing the rationale... I don't think it's safe to modify the window from the library.

Can you describe us what's your use case? I don't fully understand why would you want to show the keyboard while reques

[2016-07-21 07:54] Serchinastico commented on #76
This should be fixed in v3.0.0

Thanks for reporting and fixing it that fast guys! You rock

[2016-07-21 07:54] #76 closed

[2016-08-10 08:59] rfgamaral opened #81 "Translucent animation flickering when checking for already granted permission"
### Expected behaviour
If all requested permissions are already granted when invoking one of the `Dexter.checkPermission(s)(OnSameThread)`, `startTransparentActivityIfNeeded()` should not start `DexterActivity`. Thus preventing any kind of flicker and animation when opening/closing activities.

### Actual behaviour
When checking for permissions already granted, I get a slight flicker and slide ani

[2016-08-12 07:54] chenwulue opened #82 "Can not find withCallback"
I can't find `SnackbarOnDeniedPermissionListener.Builder.withCallback` API

### Version of the library
`com.karumi:dexter:2.2.2`

[2016-08-12 12:23] rfgamaral commented on #82
You have to update to `v2.3.0` where `withCallback` was added. It's not available on previous versions.

[2016-08-23 03:42] w0080626 opened #83 "I have a suggestion"
Android 6.0 version of the device can run normally, but run on earlier versions of the equipment, procedure will collapse.

[code]

But this will cause the program to become bloated.A better solution is to use the Support Library v4 repository method to replace the original method, it will save for different versions of the device respectively provide code:
[code]
The code is more concise

[2016-08-23 08:29] Serchinastico commented on #83
Hi @w0080626

There is no need to make Android version checks from Dexter, we are already using `ContextCompat.checkSelfPermission()`!

Which version of the library are you using?

[2016-08-23 08:30] Serchinastico commented on #82
That's right!

Closing the issue for now, if you still have problems with the callback let us know or reopen this ticket.

[2016-08-23 08:30] #82 closed

[2016-08-26 10:11] chenwulue opened #84 "it will call onResume?"
when I call checkPermission,it will call onResume

### Steps to reproduce
 Dexter.checkPermissions

### Version of the library
`2.3.0`

[2016-08-31 10:31] rfgamaral commented on #81
@Serchinastico Any thoughts on this?

[2016-09-01 16:00] hiteshsahu opened #85 "Gradle Failed to resolve Dexter"
### Expected behaviour
Gradle should be able to compile Dexter Lib into existing project

### Actual behaviour
Gradle cant resolve Dexter see screen shot

![dexter_undefined](https://cloud.githubusercontent.com/assets/4076925/18174444/3471ee78-708b-11e6-8609-6657b1cb6edd.png)

### Steps to reproduce

Add `compile 'com.karumi:dexter:2.2.2'` into gradle build file

### Version of the library
2.2.2

[2016-09-01 20:19] Serchinastico commented on #80
I'll close the issue until further information is provided.

[2016-09-01 20:19] #80 closed

[2016-09-01 20:27] Serchinastico commented on #81
Hi @rfgamaral

First of all, sorry for the late response.

This is a known issue, is worded differently in #47 but the cause is the same. As you said, we are creating the Dexter activity even in cases where it's not needed. There is a PR, #73, that solves the issue and its ready to be released for v3.0.0.

We still have to do some more testing before doing the release, I'll try to prepare a SNAPSH

[2016-09-01 20:27] #83 closed

[2016-09-01 20:29] Serchinastico commented on #84
Hi @chenwulue

This issue has been already reported in #47 & #81 and solved in #73, that will be part of the version 3.0.0 of the library.

I'll close the issue, subscribe to the issues I mentioned if you want to know when the issue is finally solved.

Thanks for reporting!

[2016-09-01 20:29] #84 closed

[2016-09-01 20:38] Serchinastico commented on #85
Hello @hiteshsahu,

I think the problem is probably in your build file as I've been able to load that version of the library without problems. Did you add Maven Central to your dependency repositories? Make sure you have something similar to this in your `build.gradle`:

[code]

If the problem persists, send us your `build.gradle` to see if we can detect what's going on.

Thanks for reporting!

[2016-09-02 01:04] rfgamaral commented on #81
Didn't notice #47 was the same issue I was having...

A SNAPSHOT version would be great and I could help testing new stuff if you want. I suppose v3 is going to be breaking because of the fluent API, correct? Is that the only breaking change?

[2016-09-05 07:41] hiteshsahu commented on #85
Maven is subset of JCenter so it should work for `JCenter` as well , Tested it today with `jCenter` again and It **worked without any problem**. This is really weird  and I cant think of why this was happening . For now I am closing this issue .

I am adding current Build Gradle for future reference

[code]

 app gradle
[code]

[2016-09-05 07:41] #85 closed

[2016-09-05 09:39] rfgamaral opened #86 "java.lang.RuntimeException: Unknown exception code: 1 msg null"
I don't have that many users but I have a few occurrences of this exception. Not many for the number of users but still it's annoying that it crashes for some people.

[code]

AFAIK, this is the same issue as hotchemi/PermissionsDispatcher#107 and Appboy/appboy-android-sdk#42.

The solution has been to wrap `android.support.v4.content.ContextCompat.checkSelfPermission` in a try/catch block.

I hav

[2016-09-05 09:44] Serchinastico commented on #86
Hi @rfgamaral

Very interesting indeed, I wasn't aware of the issue TBH.
Your PR will be more than welcome. We will take care of doing a release as soon as we review it and merge it so that you can include it in your project.

Thank you very much for reporting!

[2016-09-05 09:47] rfgamaral commented on #86
Just made the PR, waiting for the build to pass...

Great, thank you very much :)

[2016-09-05 17:37] Serchinastico commented on #86
This issue has been fixed in Dexter 2.3.1 thanks to @rfgamaral (thanks, buddy! 👌)

[2016-09-05 17:37] #86 closed

[2016-09-06 07:57] Serchinastico commented on #81
Yes, v3.0.0 changes the API by a fluent version and makes error handling using a callback instead of exception-driven.

We just published a snapshot version with [sonatype](https://oss.sonatype.org/content/repositories/snapshots/com/karumi/dexter/3.0.0-SNAPSHOT/). If you want to give it a try you probably will need to allow snapshot versions explicitly and download it from there.

Let us know how

[2016-09-06 09:38] rfgamaral commented on #81
I'm trying to convert my code to the fluent API but I'm not sure I'm doing it right...

**Before:**

[code]

**Now:**

[code]

Is there something I'm missing? Does it look good?

[2016-09-06 09:56] rfgamaral commented on #81
I just tested the implementation above and all seems to be working. Permissions are requested as usual and no more transparent activity, yeaaaaaah. Good job :)

Let me know if there's any way I'm missing with the new fluent API to simplify my code above.

I know this is just a SNAPSHOT, but how stable for production do you think this is?

[2016-09-06 14:37] Serchinastico commented on #81
Hi @rfgamaral

Your code looks good! It might need some more lines but, hopefully, the new API will make it harder for newcomers to write buggy code. It's also way better for us, with this new API we will be able to add new features to Dexter avoiding the myriad of methods we had before (optional parameters forced us to duplicate methods).

I really can't answer you to the last question, we've bee

[2016-09-06 14:45] rfgamaral commented on #81
What do you mean?

P.S: Feel free to close this issue if you want :)

[2016-09-06 19:01] oseparovic opened #88 "Permissions denied via Settings are still treated as granted"
### Expected behaviour
Denied permission brings up dialog to accept permission again when relevant action is performed

### Actual behaviour
Denied permission is seen as granted even after app is killed and restarted

### Steps to reproduce
1. Accept permission via popup presented  Dexter.checkPermission(listener, Manifest.permission.WRITE_EXTERNAL_STORAGE)
2. Go to Settings > Apps > Your app > de

[2016-09-06 20:50] Serchinastico commented on #81
I mean that perhaps the fluent API is more verbose than the _old_ one but that's fine, there is nothing wrong with your code 😋

I'll close it for now!

[2016-09-06 20:50] #81 closed

[2016-09-06 21:10] Serchinastico commented on #88
Hi @oseparovic

I just tried with the last version sample project and looks like its working fine. After manually denying the storage permission, Dexter shows the rationale dialog.

Let me ask you some questions to try to narrow down the issue:
* Did you deny the permissions of the very same app you were executing?
* Are you correctly using the rationale token in your `onPermissionRationaleShouldB

[2016-09-06 21:38] oseparovic commented on #88
100% my bad. Didn't call `continuePermissionRequest` in `onPermissionRationaleShouldBeShown` as you pointed out.

Thank you for the quick reply!

[2016-09-06 21:38] #88 closed

[2016-09-14 06:07] rksahu1987 opened #89 "java.lang.IllegalStateException: Only one Dexter request at a time is allowed"
### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Version of the library

[2016-09-14 07:45] Serchinastico commented on #89
Non-filled issues will be automatically closed. Anyways, you can read https://github.com/Karumi/Dexter/issues/27 & https://github.com/Karumi/Dexter/issues/9 and see if that solves your issue.

[2016-09-14 07:45] #89 closed

[2016-09-26 21:17] Naibeck opened #90 "Content not showing"
### Expected behaviour
Ask for permission with the activity open

### Actual behaviour
Ask permission but the activity is not displayed (only the dialog fragment)

### Steps to reproduce
Im using databinding

After debugging I found out that if I set the noHistory="true", on manifest file for this activity only shows the dialog fragment

### Version of the library
2.3.1 also test with 2.2.2

[2016-09-26 23:03] #90 closed

[2016-10-02 13:09] KamyarGhajar opened #91 "REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"
Hi
How Can I get the `REQUEST_IGNORE_BATTERY_OPTIMIZATIONS` permission to opt-out my app from android doze in android M?

[2016-10-02 19:43] Serchinastico commented on #91
Hi @KamyarGhajar

That permission is not handled in the same way runtime permissions are. If you want to ask for that permission, you will need to add the `REQUEST_IGNORE_BATTERY_OPTIMIZATIONS` permission to your manifest and send an intent with the `ACTION_REQUEST_IGNORE_BATTERY_OPTIMIZATIONS` action. You can read more about it in https://developer.android.com/reference/android/provider/Settings.

[2016-10-02 19:43] #91 closed

[2016-10-05 23:00] jangerhard opened #92 "Statusbar still showing when activity should be fullscreen"
### Expected behaviour
The activity should start and be full screen; no status bar or controls on the screen.

### Actual behaviour
The activity starts and there is a visible status bar and controls.

### Steps to reproduce
Have an activity set to be fullscreen, and put Dexter.Initialize and .setMultiplePermissions in onCreate() of the activity.

### Version of the library
2.3.1

[2016-10-05 23:01] Serchinastico commented on #92
Hi @jangerhard

We'll take a look as soon as we can 👍

Thanks for reporting!

[2016-10-06 00:17] jangerhard commented on #92
Somehow this fixed itself, and I have no idea how.. Sorry if this confused anyone.

[2016-10-06 00:17] #92 closed

[2016-10-13 09:54] Trikke opened #93 "Ability to check if PermissionToken is already resolved?"
### Question

To be able to check if the token is already resolved. In some custom scenario's this can be helpful.
### Problem

If i create an Alertdialog to show a Rationale (like in your Sample in the SampleActivity), there is a listener for the negative button, positive button and dialog dismissal. These will call the given token to do something with the request.
The problem is that if you use

[2016-10-25 16:35] rocboronat opened #94 "Possible memory leak on Dexter"
Hi team!

We're having a small memory leak using Dexter. We noticed it thanks to Leak Canary.

Do you have any idea of fixing it? Probably we are just doing a bad use of Dexter :·)

BTW, we're using Dexter 2.2.2

Thanks!

![screenshot_20161025-172407](https://cloud.githubusercontent.com/assets/456499/19694930/720714a4-9ae1-11e6-92c8-67c3b48033e3.png)

[2016-11-04 09:12] PawelDedio opened #95 "Any response in MultiplePermissionsListener while testing with Robolectric"
I'm checking permission in my fragment onCreate with ` Dexter.checkPermissions(new MultiplePermissionsListener() {});` when I'm running app on device everything working fine, but the problem is when I want to test app via Robolectric, before testing I'm granting all required permissions `ShadowApplication shadowApplication = Shadows.shadowOf(RuntimeEnvironment.application);
shadowApplication.grant

[2016-11-14 22:11] swa00 opened #96 "How to add Settings.ACTION_USAGE_ACCESS_SETTINGS"
Hi guys,

thank you very much for your great work

How  to add
Settings.ACTION_USAGE_ACCESS_SETTINGS

Thx a lot

[2016-11-15 07:43] KamyarGhajar commented on #91
Thank you @Serchinastico

[2016-11-20 09:20] mahdimortazavi opened #97 "not show custom dialog!"
### Expected behaviour
show custom dialog with title , massage , ...

### Actual behaviour

not show any custom dialog!!

### Steps to reproduce

![screenshot_1479633453](https://cloud.githubusercontent.com/assets/10667180/20461830/8a9866f6-af1f-11e6-8496-80ad278e1c56.png)

MainActivity

        MultiplePermissionsListener dialogMultiplePermissionsListener =
                DialogOnAnyDeniedMultip

[2016-11-21 08:29] Serchinastico commented on #97
Hi @mahdimortazavi

The dialog you are trying to display should only be shown if the user rejects the permission once. That's called a rationale.

The dialog in the screenshot is the native Android permission dialog and there is nothing anyone can do to avoid showing it, it's in the framework. I recommend you to read carefully the [section of our README](https://github.com/Karumi/Dexter#showing-a-

[2016-11-21 08:29] #97 closed

[2016-11-21 08:30] Serchinastico commented on #94
Hi @rocboronat

We will take a look and try to give you a response soon.

Thanks for reporting!

[2016-12-06 08:41] crocodile opened #98 "Can I show the Snackbar only when the permission has been permanently denied"
### Expected behaviour (How Google Maps implemented permissions)
Can we avoid step 4 below? In other words I don't want to show the Snackbar until the user has permanently denied the permission.

### Actual behaviour (As it works in the sample app)
1. First time permission request
2. The Permission Dialog comes up (Without the 'Don't ask again' option)
3. User declines
4. Snackbar appears
5. Secon

[2016-12-06 09:10] Serchinastico commented on #98
Hi @crocodile

I'm afraid you can't modify `SnackbarOnDeniedPermissionListener` behavior. We just created that as an example and as an easy-to-plug example but it's not meant to be extended. You will have to create a permission listener of your own that shows the snackbar whenever you want.

Thanks for reporting!

[2016-12-06 09:10] #98 closed

[2016-12-06 14:09] demilaram opened #99 "file:// scheme is now not allowed to be attached with Intent on targetSdkVersion 24 (Android Nougat)."
### Expected behaviour
i am using your library to include images in my app, how ever it works fine for android up to android 6, when i use this on android 7 it crashes with FileUriExposedException, i use targetSdkVersion 24, and i think the problem is described [here](https://inthecheesefactory.com/blog/how-to-share-access-to-file-with-fileprovider-on-android-nougat/en)

### Actual behaviour

###

[2016-12-06 14:15] Serchinastico commented on #99
Hi @demilaram

The problem is not in Dexter, this library is only used to handle runtime permissions, not to pass/load/include images of any kind in any app.

I'd recommend you to read your code and see where are you passing a URL with the `file` scheme inside an intent.

Thanks for reporting.

[2016-12-06 14:15] #99 closed

[2016-12-06 15:29] demilaram commented on #99
@Serchinastico thanks for your reply, i was not suppose to right this issue here, it was for a picking image library, which i use along with this library, i dont know how i ended up here :)

[2016-12-06 18:00] tallnato opened #100 "Some permissions cause the app to crash"
I've been trying to integrate your lib with an app that I'm doing, but i've come across with a problem,
if I request the permissions **READ_PHONE_STATE** or **READ_SMS**, my app crashes.

I've downloaded your master branch and then changed your sample to request to ask for those permissions and the same happened.
The only change was this:
[code]

The crash report
[code]

Have you ever come across

[2016-12-06 18:04] Serchinastico commented on #100
Hi @tallnato,

This is actually an exception from the Sample project itself. If you want to try with other permissions there, you will need to update a couple appearances of the new permission you are using. More specifically, that exception is raised in the `getFeedbackViewForPermission` method in `SampleActivity`. Update that method so that it can find the feedback view you want to update when r

[2016-12-06 18:04] #100 closed

[2016-12-12 22:31] bleuf1shi commented on #94
I just encountered the same issue a few days ago. I wrote a fix and have been using it. I'll make a pull request.

[2016-12-12 22:45] bleuf1shi commented on #94
link to pull request. https://github.com/Karumi/Dexter/pull/101

[2016-12-13 01:00] jonl-percsolutions-com commented on #62
I ran into this issue today.  The setup documentation is not very clear and it seems that the helpful "builders" should make this work easier.  Instead you have to setup a "helpful" builder listener and then also setup a listener to take care of this other case, which, imo, doesn't seem to be as helpful as it could be.

[2016-12-17 22:18] bleuf1shi commented on #94
@Serchinastico  , my pull request is failing CI tests because of something unrelated.

[2016-12-22 10:44] Serchinastico commented on #94
Hello everyone,

I'm trying to track the memory leak and I think the problem is that either the Android permission dialog or the Dexter activity is being displayed, leaving your activity behind. It's normal that LeakCanary is reporting that as a memory leak because, strictly speaking, it is a memory leak. However, given how Dexter is designed it is not possible to avoid it. We are leaking the list

[2016-12-22 10:44] #94 closed

[2016-12-22 10:50] rocboronat commented on #94
Hi @Serchinastico! Thanks for this extended answer: it's an easy way to know how Dexter works. And thanks for your work, too! 😊

[2016-12-22 10:50] Serchinastico commented on #95
Hi @PawelDedio

First of all, sorry for the late response.

By the snippets you copied here I'm guessing you are not implementing `onPermissionRationaleShouldBeShown`. If you really want an empty listener, you should be at least implementing that to call `token.continuePermissionRequest()`. Keep in mind that Android might be asking you to display a rationale during the process and you need to tell

[2016-12-22 10:57] Serchinastico commented on #96
Hi @swa00,

Sorry for the late response.

I'm confused, `ACTION_USAGE_ACCESS_SETTINGS` is not a permission but an intent action. I'm not sure what are you trying to do but I just did a quick search in google and here is a couple links that might be useful for your case:
* http://stackoverflow.com/questions/39651734/how-to-close-action-usage-access-settings-intent-when-user-click-correct-target
* h

[2016-12-22 10:57] #96 closed

[2016-12-22 11:12] Serchinastico commented on #93
Hi @Trikke,

Sorry for the late response. I'm reading your issue and I'm wondering if that's something that has to be solved from Dexter itself. Basically, I'd like to keep its API as simple as possible and I don't like the idea of adding methods to mitigate an issue in a very specific scenario.

I'd recommend you to use another boolean value to know if the user has actively dismissed or accepted

[2016-12-22 11:12] #93 closed

[2016-12-22 11:21] swa00 commented on #96
Hi Serchinatico,
your solution is the "standard" way..  but not with a dialog via dexter with direct permission settings.
The user is confused to use the standard way (pressing twice the back key, after done)

[2016-12-22 12:52] JackLauu opened #102 "Manifest.permission.WRITE_SETTINGS does not work"
Everytime I use Dexter.checkPermission(new PermissionListener(), Manifest.permission.WRITE_SETTINGS) to check the write settings permission, it will enter onPermissionDenied, even if I turn on the write settings permission. I don't know why.

[2016-12-22 13:08] Serchinastico commented on #102
Hi @JackLauu,

We don't handle `WRITE_SETTINGS` and `SYSTEM_ALERT_WINDOW` as they behave very differently from the other permissions. I'm afraid if you want to request those permissions you'll have to do it the usual way, without Dexter.

See https://developer.android.com/guide/topics/permissions/requesting.html, https://developer.android.com/reference/android/Manifest.permission.html#SYSTEM_ALERT

[2016-12-22 13:08] #102 closed

[2016-12-22 14:43] JackLauu commented on #102
That's ok, thank you.

[2016-12-23 18:26] kvenn commented on #64
It is in the README [here](https://github.com/Karumi/Dexter#showing-a-rationale) but I'll admit, I missed it the first time as well...

[2016-12-28 09:26] dzbx opened #104 "Why there is no method like withContext() in 3.0.0?"
I need to check permission in my custom view. In 2.x, it works fine. But when I update to 3.0.0, I found it can't work because there is only context in the view, no activity to initialize the Dexter.
And I see the initialize() method in Dexter.java, which only use the context, not the activity.
So why there is no method like withContext() in 3.0.0?

[2016-12-28 20:55] #47 closed

[2016-12-28 20:55] #53 closed

[2016-12-28 20:55] #54 closed

[2016-12-28 21:00] Serchinastico commented on #104
Hi @dzbx

The only reason (and I personally think it's a big one) is that we need an `Activity` instance to check for the permissions state, otherwise, we are forced to create our own and deal with issues such as #47, #81 and #84. We decided to go for the most limited approach so that behavior is more consistent and predictable.

You can always pass the activity or the `Dexter` builder instance (w

[2016-12-28 21:00] #104 closed

[2016-12-28 21:01] Serchinastico commented on #95
I'm closing this. Please, feel free to reopen it if the issue persists.

Thanks for your time!

[2016-12-28 21:01] #95 closed

[2016-12-28 21:06] Serchinastico commented on #64
I guess we can just call `token.continuePermissionRequest();` by default in the empty implementations but that'd mean releasing a new major version (my fault, I missed this for 3.0.0).

In the meantime, we can create a couple `BaseListener` implementations with that call and deprecate `EmptyListener`s.

[2016-12-29 02:23] PingForward opened #105 "MultiplePermissionsListener REQUEST_ONGOING"
### Expected behaviour
Call onPermissionsChecked with already granted permissions

### Actual behaviour
when I ask for permissions it call onError(DexterError error) with REQUEST_ONGOING error
Activity was closed and opened several times using startActivityForResult setResult(OK) or CANCEL before this happened.

### Steps to reproduce
[code]

### Version of the library
3.0.0

[2017-01-02 09:44] Serchinastico commented on #105
Hi @PingForward

I'm wondering, are you following the [README section about screen rotations](https://github.com/Karumi/Dexter#screen-rotation)? When the requesting activity dies due to a rotation or any other reason, we have to rebind the permission listeners by calling `continueRequestingPendingPermissions` instead of asking for those permissions again.

Got to say though that you are not the fi

[2017-01-02 13:54] hzw1199 commented on #105
Hi, I also have this issue with PermissionListener. My activity open and close normally, without any rotation or other reason to kill the activity unexpectly, several times later, this exception happens.

Version os 3.0.0

[2017-01-03 00:27] PingForward commented on #105
@Serchinastico No rotation, regular open close.

[2017-01-10 14:02] JackLauu opened #106 "Dexter changes the activity lifecycle"
### Steps to reproduce
Use Dexter.checkPermission in OnItemClick.onClick. Every click will cause activity onResume called. It will cause adpater populating again and the getView state is not expected.

### Version of the library
2.3.1

[2017-01-10 14:13] Serchinastico commented on #106
Hi @JackLauu

I highly recommend you to start using Dexter 3.x.y, the problem is that the method in Android to know if a permission has been granted or not needs an `Activity` instance. In 2.x.y we were creating our own Activity and that had the ugly side effect of calling the presented activity `onResume` method. In Dexter 3.x.y we are requiring your Activity so that we don't have to start any ot

[2017-01-11 08:31] JackLauu commented on #106
That's ok, thank you.

[2017-01-11 11:32] TillSimon commented on #105
I can confirm. Also happens with `PermissionListener` (not Multiple* that is). Can't reproduce consistently, but most of the times when I start a permission request and deny it and then close the app (back-button, not simple pause/resume) and come back, it says `REQUEST_ONGOING`. Tested with/without rationale dialog and with/without `continueRequestingPendingPermissions`. It only seems to start wo

[2017-01-11 14:19] #106 closed

[2017-01-16 13:23] cioraneanu opened #107 "Caused by java.lang.NullPointerException: Attempt to invoke virtual method 'void com.karumi.dexter.DexterInstance.onActivityReady(android.app.Activity)' on a null object reference"
### Expected behaviour
To work without crashing.

### Actual behaviour
Received crash reports from several users with the folosing stacktrace:
[code]

### Steps to reproduce
I didn't have any crashes on my device but this is how the library is used. In an Activity:

[code]

### Version of the library
3.0.0

[2017-01-20 14:33] lianghanzhen commented on #105
The reason is when we create Dexter instance, the Context in DexterInstance become null.
I have sent a pull request.

[2017-01-23 16:33] rfgamaral commented on #107
I'm having the same issue...

[2017-01-25 09:40] o-nos commented on #105
We've got the same bug. Please, review this pull request.

[2017-01-25 11:29] pedrovgs commented on #105
Fixed in the PR #108. We are about to publish a new version :) Thanks everyone for your help!

[2017-01-25 11:29] #105 closed

[2017-01-28 14:14] MagicDroidX commented on #107
Same here :/

[2017-01-30 13:40] pedrovgs commented on #107
@Serchinastico could this be related to the issue we've already fixed? #105

[2017-01-30 14:06] xoex commented on #107
same here

                                                                          at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2416)
                                                                          at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:2476)
                                                                          at android.a

[2017-01-30 14:12] xoex commented on #107
this was happened, when i was changing permission from App (from settings), then I switched to my app and then it crashed.

[2017-01-30 14:21] pedrovgs commented on #107
@xoex, @MagicDroidX or @rfgamaral could you try with the version ``3.0.1`` we released last week? I think this issue could be related. If anyone could paste here some steps to reproduce that could really help :)

[2017-01-30 14:42] xoex commented on #107
@pedrovgs Mine was `3.0.1`  , but I don't know how to reproduce it

[2017-01-30 15:09] pedrovgs commented on #107
@xoex how many crashes did you have?

[2017-01-30 15:16] xoex commented on #107
@pedrovgs I am developing the app, so I can't check clients. It happened in my second or third use, when I was switching from Settings (trying to change permissions) to my activity.
I tried to the same routine but it didn't happened again.

[2017-01-30 17:48] rfgamaral commented on #107
I personally can't reproduce this myself, I only get the crash reports on Crashlytics. But I'll upgrade Dexter ASAP.

[2017-01-31 03:55] MagicDroidX commented on #107
IMO, this may happen when the activity is somehow recycled.

[2017-01-31 07:20] xoex commented on #107
Why not put some null checking to prevent crash?

[2017-01-31 08:10] Serchinastico commented on #107
We will deal with the issue tomorrow morning, if you feel like you can't wait until tomorrow, please, send us a PR! We will be glad to review it!

[2017-02-01 10:19] Serchinastico opened #110 "Create a monkey runner test to see that the application doesn't crash randomly"
In the latest versions of Dexter we had some crashes caused by NPEs. We have to evaluate the cost of creating a monkey runner test that runs the sample app and do some interactions at random to discover automatically those issues.

[2017-02-01 14:20] Serchinastico commented on #107
Good news everyone, we are releasing Dexter 3.0.2 that solves the issue and will be ready to use in a couple hours.

We've been able to reproduce the bug by going to the settings, rejecting manually some permissions and going back to the app. We just introduced a null check because in that scenario the library doesn't know how to deal with that situation (no Dexter `instance` created).

I'll be cl

[2017-02-01 14:20] #107 closed

[2017-02-01 16:43] rfgamaral commented on #107
Awesome. Going to update now and close the issue on our side. Thanks for handling this quickly :)

[2017-02-05 23:23] Alamgir opened #112 "Show DialogFragments from listeners causes IllegalStateException"
Trying to show a dialog fragment from the successful permission listener:
[code]

**Stacktrace Error:**  java.lang.RuntimeException: Failure delivering result ResultInfo{who=@android:requestPermissions:, request=42, result=-1, data=Intent { act=android.content.pm.action.REQUEST_PERMISSIONS (has extras) }} to activity {com.selfycart.android.buyer/com.karumi.dexter.DexterActivity}: java.lang.Illegal

[2017-02-05 23:29] Alamgir commented on #112
Apparently a known issue on Marshmallow: https://code.google.com/p/android/issues/detail?id=190966

[2017-02-06 08:09] pedrovgs commented on #112
Any workaround we can use?

[2017-02-06 08:10] pedrovgs commented on #112
We'd also need to know the library version you are using and the android SDK version where the bug is reproducible. If you could provide us a list of steps to reproduce it or a sample project it could help a lot.

[2017-02-06 17:36] Serchinastico commented on #112
Hi @Alamgir

It's the first notice of this issue we have. Do you happen to know if using one of the mentioned hacks in the post effectively solves the issue? It seems like something we might want to add to the library if we can solve it by just re-posting the result in the main thread.

[2017-02-06 23:24] Alamgir commented on #112
I'm using version Dexter 3.0.2 and the issue was occurring with Android 6.0.1M.

The workaround I used was a 500ms delayed post to a Handler that was instantiated on the Main thread. I don't like the workaround, but it seems to work consistently. I'm not sure if it's a good idea to add the hack to the library as this is a known bug and should be on the Android team's list of to-dos. It's your call

[2017-02-06 23:28] Alamgir commented on #112
Other than this one issue - thank you so much for this library guys, saved me a ton of headache and allowed me to implement the entire permissions model in less than a day

[2017-02-07 08:23] pedrovgs commented on #112
If the bug is related to the Android SDK adding a workaround to the library could not be the best option. Maybe, just updating the library documentation is enough.

[2017-02-07 09:07] Serchinastico commented on #112
The only problem I see with the bug is that the Android team has marked it as _WorkingAsIntended_. I'll give it a try to see if just posting it again in the UI thread is good enough. Other than that, PRs are more than welcome as I might not be able to test this for some time.

[2017-02-09 11:42] edualonso opened #113 "Permissions dialog not restored correctly when pressing home"
Android's permission dialog is not restored if you press home while showing the permissions dialog and return to the activity that was showing it.

### Actual behaviour
A DexterError.REQUEST_ONGOING is thrown. Obviously, this is correct, as I never allowed nor denied the permission, but I'm unable to continue the permission by using Dexter.withActivity(activity).continueRequestingPendingPermission

[2017-02-09 12:02] pedrovgs commented on #113
Maybe we should remove this feature. Votes?

[2017-02-09 12:13] edualonso commented on #113
With "remove this feature" you mean drop existing permission requests all along and allow to request fresh permissions when this occurs? If so, then I give you a +1 too.

[2017-02-09 12:14] pedrovgs commented on #113
Yeap.

[2017-02-09 12:15] pedrovgs commented on #113
The feature is too complex, the implementation is difficult and does not add value at all.

[2017-02-09 12:17] edualonso commented on #113
Cool, looking forward to request new permissions without being blocked by previous requests.

ps. gracias por responder cagando leches ;-)

[2017-02-09 12:19] pedrovgs commented on #113
xD no problem @edualonso. If we won the YES in this vote and you want to collaborate implement this feature it could be great :)

[2017-02-09 19:05] mikejeep commented on #113
I came on here specifically because I was experiencing this same issue. Certainly in favor of this resolution, although I'm sorry I am a novice and wouldn't be much help implementing it.

[2017-02-09 21:44] Serchinastico commented on #113
We will remove the feature, people using Dexter is already doing something like asking for the permissions in the activity start up just in case so... :+1:

[2017-02-10 08:47] pedrovgs commented on #113
@edualonso I've sent a PR. Can you check the behaviour is the one you expect.

[2017-02-10 11:09] rjhdby opened #116 "Add SingleActionPermissionListener"
It's are good idea to introduce simple PermissionListener with only one method "onPermissionGranted" to use with lambdas.

[2017-02-10 11:20] Serchinastico commented on #116
This is something that has been already discussed while implementing v3 (#54).

To summarize: Lambdas are still not part of the language so we won't move in that direction just yet.

[2017-02-10 11:20] #116 closed

[2017-02-12 16:44] mhdtouban opened #117 "Memory Leak"
### Expected behaviour
no memory leaks

### Actual behaviour
static Dexter.instance references DexterInstance.listener

### Steps to reproduce
      Dexter.withActivity(getActivity())
                    .withPermission(Manifest.permission.READ_EXTERNAL_STORAGE)
                    .withListener(compositePermissionListener).check();
### Version of the library
3.0.2

[2017-02-13 09:41] Serchinastico commented on #117
Hi @mhdtouban

This has been already reported in #94 but we can't do anything to avoid a false positive in LeakCanary as we are effectively holding a reference to the calling activity until the permission is accepted/denied.

If you think this has nothing to do with your issue and still think there is a bug in Dexter, don't hesitate to reopen this issue and we will take another look to the matter.

[2017-02-13 09:41] #117 closed

[2017-02-14 21:10] lappalj4 opened #118 "onPermissionDenied and onPermissionRationaleShouldBeShown both called"
### Expected behaviour
What I would expect is that when I show a custom dialog for rationale, and the user still chooses to not allow the permission request, that rationale will not be shown again.

### Actual behaviour
What actually happens is the following:

1) The custom rationale is shown when onPermissionRationaleShouldBeShown is called
2) The user chooses to deny that permission.
3) The app

[2017-02-14 21:15] lappalj4 commented on #118
Aha, it seems this was caused by me attempting to check the permissions in the activity onResume(). I moved the call to onCreate and all is well and dandy now.

[2017-02-14 21:15] #118 closed

[2017-02-21 15:31] Kisty opened #119 "Add ability to style snackbars with light theme, or any other colour theme"
### Expected behaviour
Snackbar background not dark (light)

### Actual behaviour
Snackbar background dark

### Steps to reproduce
See https://www.github.com/Kisty/Dexter

### Version of the library
2.4,0

[2017-02-21 16:29] Serchinastico commented on #119
Hi @Kisty

First of all, thank you for reporting!
Sadly, we are not considering improving the snackbar in any way as it is just an implementation so that you can start using the library right away. It is meant to be replaced by your own snackbar (or any other widget) once you get comfortable with the library.

Once again, thank you for your time!

[2017-02-21 16:29] #119 closed

[2017-02-26 07:39] zahid--ali opened #120 "Location Permission is crashing the app"
Exception java.lang.RuntimeException: Failure delivering result ResultInfo{who=@android:requestPermissions:, request=42, result=0, data=Intent { act=android.content.pm.action.REQUEST_PERMISSIONS (has extras) }} to activity {com.sadeeq.app/com.karumi.dexter.DexterActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.res.Resources android.content.Context.getRes

[2017-02-26 11:07] Serchinastico commented on #120
Hi @zahid--ali

By any chance, are you using `DialogOnAnyDeniedMultiplePermissionsListener` or `DialogOnDeniedPermissionListener`?  Those two classes are the only ones in Dexter calling `Context::getResources()` and throwing a NPE in that case would mean you are providing them with a null context.

[2017-03-04 11:27] omaflak opened #121 ""All com.android.support libraries must use the exact same version specification""
Hello, thanks for your great library !

I get the error in my build.gradle on this line `compile 'com.android.support:appcompat-v7:25.2.0'` :

I can still run the project, but the compile line is underlined in red and it annoys me a bit ...

Do you have any suggestion ? Thanks !

[2017-03-06 02:34] Aiden-Ziegelaar commented on #121
This is because the library has not been updated to use the new support libraries, presently it is using:
* com.android.support:appcompat-v7:25.1.0
* com.android.support:design:25.1.0

The fix for now would be to use 25.1.0 libraries for your project, or to download and build the project yourself using the new libraries.

[2017-03-06 09:04] #65 closed

[2017-03-06 09:39] Serchinastico commented on #121
Hello, fellow programmers!

Yes, as @Aiden-Ziegelaar comments the reason for the warning is that Dexter is using an _old_ version of the appcompat library. We are planning to release v4.0.0 today, we will make sure that version is completely updated. However, if you don't feel like updating there you can always exclude the appcompat dependency from Dexter to use your own. To do so, you have to loa

[2017-03-06 09:40] Serchinastico opened #122 "Update appcompat & design lib to the latest version"
From `25.1.0` to `25.2.0`

[2017-03-06 09:41] Serchinastico commented on #121
I'm closing this issue for now, we will release the updated version (#122)

[2017-03-06 09:41] #121 closed

[2017-03-06 11:37] omaflak commented on #121
Great ! I'm looking forward to see the new version !

[2017-03-07 09:20] Serchinastico commented on #64
This is now available in v4.0.0

[2017-03-07 09:20] #64 closed

[2017-03-07 09:20] #122 closed

[2017-03-07 09:28] Serchinastico commented on #113
Version 4.0.0 has now been released!

[2017-03-07 09:28] #113 closed

[2017-03-07 23:32] elliott-accolade opened #126 "When permissions dialog is presented, and the app is backgrounded, the listener(s) remain active, even if set to null in the activity."
### Expected behaviour
If I background the app while the permissions dialog for any reason (phone call, text message, etc.), I want to be able to resume where I was when I return to the app, within reason.

### Actual behaviour
(Behavior differs between APIs. Below is a description of what happens on API 24)
Background the app (not killing it). When restarted, the first thing the user sees is the

[2017-03-08 10:06] Serchinastico commented on #126
Hi @elliott-accolade

First of all, thank you for your detailed report!

I'm thinking about the execution flow in your description and I'm seeing a small inconsistency that might (or not) be the source of the problem. You are creating your listeners in the `onCreate` method and _nulling_ them in the `onStop` method, I do think they are not symmetrical, your activity might be never recreating those

[2017-03-08 10:14] Serchinastico opened #127 "Assert not null listeners are being passed to Dexter"
We should be checking that so that we don't throw NPEs

[2017-03-08 14:46] elliott-accolade commented on #126
Hi @Serchinastico! Thanks for your quick reply. I apologize for not updating my question yesterday after some more testing; You're right - setting the listeners to null in the `onStop` lifecycle method would cause some issues when the user pressed the button to request the permissions again, so I removed the part where I null the listeners.

As of right now, I am initializing the listeners in `onC

[2017-03-09 07:20] alexeyvasilyev opened #128 "Allow Dexter to be called from service"
Sometimes while starting services you need to request permissions. It would be cool if it would be possible to do:

[code]

Use-case: pressing widget on home screen starts storage recording service.

[2017-03-09 09:07] pedrovgs commented on #128
It could be great but the Android SDK requests an Activity to be able to notify the result. If you try to request permissions from a service using the Android SDK API it's not going to work. Based on this, we can't add this feature 😄

[2017-03-09 09:07] #128 closed

[2017-03-09 09:21] alexeyvasilyev commented on #128
I didn't get the answer actually. I have an activity which is called from service and asking for permissions and it works perfectly. What I want is to include this functionality into your library.

Here is how I did:

[code]

[code]

[code]

From my service I call it:
[code]

[2017-03-09 09:33] pedrovgs commented on #128
You are invoking a static method in your activity from a service to start it, but if you take a look at the code you still need the activity. That's why we request the activity and not a plain context. You could use dexter inside your ``PermissionsActivity`` if you want.

In addition, asking for permissions in Android needs user interaction and that's why an activity is needed. Because the app sho

[2017-03-09 17:42] elliott-accolade opened #129 "Feature Request: Allow changing the snackbar text, background, and action button colors."
### Expected behaviour
Ability to change the text color or background color of the Snackbar.

### Actual behaviour
Can't access the snackbar to change the text colors (we're using a custom theme).

### Steps to reproduce
1. Set up a `SnackbarOnAnyDeniedMultiplePermissionsListener` O
2. Observe that there is no way to access the snackbar color scheme, just change the text and listeners.

### Versio

[2017-03-12 13:38] albodelu opened #131 "Remove unnecessary and unused ci android component"
### Expected behaviour
CI build without the unnecessary android component like [here](https://github.com/Karumi/Dexter/pull/130)

### Actual behaviour
CI build tries to download the unused android component and shows a warning about it

### Steps to reproduce
Check any log like [this](https://travis-ci.org/Karumi/Dexter/builds/208518631#L933)

### Version of the library
Any

[2017-03-13 09:26] Serchinastico commented on #131
:1st_place_medal:

[2017-03-13 09:26] #131 closed

[2017-03-15 12:53] mackongo commented on #121
Was this solved?

[2017-03-15 14:25] omaflak commented on #121
Yes, you have to use version 4.0.0 of the library.

[2017-03-15 14:40] mackongo commented on #121
I still experience an error after the changes.

[2017-03-18 11:51] bluemix opened #132 "Snackbar duration"
hello,

`SnackbarOnDeniedPermissionListener` does not have a duration for the snack bar?
can it be added in the future?

thanks a lot :)

[2017-03-18 14:34] Serchinastico commented on #132
Thank you for your PR!

[2017-03-18 14:46] Serchinastico opened #134 "Create a companion library with default implementations"
We have a lot of reports to add functionality to the default snackbar and dialog implementations that we don't really want to mix with Dexter itself. Maybe it's a good idea to create a companion library called something like `dexter-addons`, `dexter-widgets` or `dexter-extra` to move those implementations there.

Does it sound ok? @pedrovgs @flipper83

[2017-03-21 07:46] pedrovgs commented on #134
I'd not go for a ``dexter-addons`` artifact. This code is being used by our users as part of the production code when it's just an example. I'd keep it as is or just move the code to the example application.

[2017-03-21 07:47] pedrovgs commented on #134
What do you think @flipper83 @fjfdeztoro ?

[2017-03-24 09:01] AlexioVay commented on #4
Sorry to reopen this old thread, but how exactly do I check if a permission request has been set to "never ask again" by an user?

[2017-03-27 17:25] cesarsicas opened #139 "report.isAnyPermissionPermanentlyDenied is always true"
Hi, im trying to achieve the following behaviour:

1 - Dexter checks for multiple permissions.

2 - When ther user click on Deny,  a Dialog is showed  on onPermissionRationaleShouldBeShown() method and token.continuePermissionRequest() is called. Then the activity is closed

3 - When the user click on Allow, my method startApplication() is called .

But the problem is, inside method onPermissionsC

[2017-03-28 03:45] johnwatsondev opened #140 "Didn't get right result when set targetSdkVersion to 14"
### Expected behaviour

1. My production environment project's `targetSdkVersion` was set to 14. So I used Dexter's sample to test. (Changed the `targetSdkVersion` to 14 in sample module's build.gradle)
2. When I installed the app, all requesting permissions were allowed by default.
3. Then I denied the Camera and Contacts permissions as follow.
![deny permission in setting](https://cloud.githubus

[2017-03-28 08:20] Serchinastico commented on #140
Hi @johnwatsondev

Interesting behaviour you just found here... I'm wondering if you can give us more information about the Android version of the device you were using to test.

[2017-03-28 08:24] johnwatsondev commented on #140
I have got a solution after did some research.
We should use [PermissionChecker.checkSelfPermission()](https://developer.android.com/reference/android/support/v4/content/PermissionChecker.html#checkSelfPermission(android.content.Context, java.lang.String)) check if user granted the permission.

[2017-03-28 08:37] johnwatsondev commented on #140
I thought we should just add this info to README **instead of** modified the `AndroidPermissionService` class's implement.

Because of this library was intended to check `RUNTIME` permission for API level more than 23.
[More info click here - android-6.0-changes](https://developer.android.com/about/versions/marshmallow/android-6.0-changes.html#behavior-runtime-permissions)

[2017-03-28 08:38] Serchinastico commented on #139
Hi @JulioCesarSiqueira

Looks like the problem is with the `MANAGE_DOCUMENTS` permission. As stated in the Android documentation, [this permission is not granted to 3rd party apps but only to the platform document management app](https://developer.android.com/reference/android/Manifest.permission.html#MANAGE_DOCUMENTS). If you need this permission you probably have to include a workaround, this ar

[2017-03-28 08:42] Serchinastico commented on #140
Honestly, I didn't even know of the existence of that class :scream:, we'll probably need to migrate to that API so that we don't have this problem in the future.

Thanks again for reporting back! We'll tackle the problem, one way or the other.

[2017-03-28 08:44] johnwatsondev commented on #140
Here was a [workaround](http://stackoverflow.com/a/34084609/3171537).
Please checked it. :)

[2017-03-28 18:02] JulioCesarSiqueira commented on #139
@Serchinastico thank you very much!

I removed this permission and worked great.

[2017-04-25 09:50] DanteAndroid opened #142 "Does DialogOnDeniedPermissionListener has withOpenSettingsButton ?"
Why not add `withOpenSettingsButton` to it, thx!

[2017-04-25 10:01] #139 closed

[2017-04-25 10:12] Serchinastico commented on #142
We haven't found the need yet to implement such button but feel free to send us a PR and we will be glad to include it in the project :)

[2017-04-25 10:15] Serchinastico commented on #134
We will keep those classes in Dexter and improve them if people send us PRs to better configure them. As you said, they are in the main project and people is using them as part of Dexter in their code so.

Thanks for your help!

[2017-04-25 10:15] #134 closed

[2017-04-28 15:30] nex0s opened #143 "Dexter create a new entry in Overview"
### Expected behaviour
My app should only have one entry in "Overview" mode

### Actual behaviour
When the permission dialog is accepted, it adds a new entry in the "overview", in addition to the main one

### Steps to reproduce
Call this when permission is not yet accepted

[code]

### Version of the library
4.2.0

Tested on Samsung Galaxy S6, running Android 6.0.1 and 7.0.0

The new task created

[2017-05-02 13:40] ovitrif commented on #105
Hi guys!
This problem can still be encountered in version 4.1.0.

[2017-05-03 13:46] pedrovgs commented on #105
@ovitrif we can't reproduce it. Could you create a sample project public on github with the code needed to reproduce it?

[2017-05-03 13:57] pedrovgs commented on #143
This is going to be fun to fix 😃 @nex0s do you have a fix for this? Right now I'm not sure if there is an Android API to don't show this view in the background apps history.

[2017-05-03 19:34] ovitrif commented on #105
@pedrovgs
Unfortunately not, it is for a complete application that it happens.

I can give a few details.
I'm using the multiplePermissions listener, using dagger, so I initialize dexter in the module.
The app has language changing capabilities, and the bug was usually seen in that case.
It was very difficult to reproduce, but it seemed to appear randomly.
I was able one time to reproduce the issu

[2017-05-04 09:07] AdiphongManowan opened #144 "Dexter display transparent layout overlap my application layout"
### Expected behaviour
When permissions dialog is presented, and me go to another app and come back to my app, and click deny permission after that dexter display transparent layout overlap my application layout.

### Actual behaviour

### Steps to reproduce

### Version of the library

[2017-05-06 12:22] nex0s commented on #143
Not really, I am going to do some tests.

[2017-05-07 10:14] nex0s commented on #110
I think the monkey command tool could do the job

`adb shell monkey -p com.karumi.dexter.sample --ignore-crashes --kill-process-after-error --ignore-timeouts --ignore-security-exceptions --pct-nav 70 --pct-majornav 15 --pct-touch 5 --pct-trackball 5 --pct-motion 5 -s 1000 10000`

[2017-05-08 16:55] IgorGanapolsky opened #145 "Unable to run sample"
### Expected behaviour
Sample should compile and run in Android Studio

### Actual behaviour
Build error:

Error:java.lang.RuntimeException: Annotation processors must be explicitly declared now.  The following dependencies on the compile classpath are found to contain annotation processor.  Please add them to the annotationProcessor configuration.

### Steps to reproduce
Import the project in And

[2017-05-09 09:24] Mahdihp opened #146 "Con not Using Dexter from Jcenter Repository (in the compile 'com.karumi:dexter:4.1.0' version)"
![image](https://cloud.githubusercontent.com/assets/6378625/25844229/06462cbe-34bf-11e7-8add-bd9338586cb7.png)

[2017-05-09 09:27] pedrovgs commented on #146
Hi @Mahdihp we deploy our artifacts to [Maven Central](https://mvnrepository.com/artifact/com.karumi/dexter)

You can add this configuration to your ``build.gradle`` file if you need to consume any lib from MavenCentral

[code]

[2017-05-09 09:27] #146 closed

[2017-05-09 09:31] Mahdihp commented on #146
note working mavenCentral(). me Using jcenter() (using 10 library of jcenter())

[2017-05-09 09:45] Serchinastico commented on #146
We don't support jcenter. Anyways, you can still use maven central AND jcenter, there is generally no problem in that.

[2017-05-09 10:17] Mahdihp commented on #146
Ohhhhhhhhh NOOOOOOOOOOOO

[2017-05-09 10:20] Serchinastico commented on #146
![https://media.giphy.com/media/xHwqspaBmfUMU/giphy.gif](https://media.giphy.com/media/xHwqspaBmfUMU/giphy.gif)

[2017-05-12 07:12] #144 closed

[2017-05-12 07:18] pedrovgs commented on #145
Hi @IgorGanapolsky!

I've reviewed the project state and our CI environment is building and testing the app properly as you can see [here](https://travis-ci.org/Karumi/Dexter/branches). The problem you are facing has to be related to a bug in the [Android Studio Preview](https://developer.android.com/studio/preview/index.html). The [latest stable release for Android Studio is 2.3.2](https://develo

[2017-05-12 07:18] #145 closed

[2017-05-13 07:46] daupawar opened #149 "Not working with Dagger 2"
Using MVP architecture with Dagger 2.

### Expected behavior
Permission Dialog should show without declaring in the manifest file.

### Actual behavior
Error message shows

### Steps to reproduce
[code]
inside onCreate of my Main Activity

### Version of the library
Dexter version
compile 'com.karumi:dexter:4.1.0'

[2017-05-15 09:33] nex0s commented on #143
I don't know why, but on some devices the DexterActivity is not finished. I used 'Activity Manager State' to check if the activity was still alive after accepting the permission.
On the Nexus 5X 7.1.1 emulator, the DexterActivity is finished correctly.

One dirty workaround would be to add

on .DexterActivity

[2017-05-18 09:46] qinyang1018 opened #150 "proguard?"
### Expected behaviour

![image](https://cloud.githubusercontent.com/assets/15726024/26196522/cda655de-3bf1-11e7-95fb-475179e145f6.png)
Whether to need to configure the proguard
### Actual behaviour

### Steps to reproduce

### Version of the library
com.karumi:dexter:4.0.0

[2017-05-18 10:00] Serchinastico commented on #150
Hi @qinyang1018,

First of all, thanks for reporting!
I'm reading the source code and this is the offending line where the NPE is happening:

[code]

I can't see how that line can fail (`isRequestingPermission` is initialized in the constructor and never null'ed)
How are you running Dexter? Have you tried updating to the latest release (`4.1.0`)?

[2017-05-18 10:18] qinyang1018 commented on #150
Thank you for your answer
I will try to 4.1.0 and
[code]
![image](https://cloud.githubusercontent.com/assets/15726024/26197794/27b71348-3bf6-11e7-9eba-8ef50e5a7151.png)

[2017-05-22 08:22] #132 closed

[2017-05-22 08:25] Serchinastico commented on #129
Hi @elliott-accolade

We will not be adding those features ourselves because we don't have the need to and will probably not fulfil your expectations but we are open to review PRs so don't be shy and send us one!

Thanks for reporting!

[2017-05-22 09:35] Serchinastico commented on #140
I've just created a PR to address this issue, @johnwatsondev feel free to review it if you want!

[2017-05-22 10:10] Serchinastico commented on #143
If we set `android:excludeFromRecents` to true then we won't be able to open the activity if we close it while the permissions dialog is open and that'd be a huge problem.

I'm trying to reproduce the issue in my Nexus 5X but I haven't been able so far.

[2017-05-22 10:49] Serchinastico commented on #149
Hi @daupawar

`DexterActivity` is already declared in the `Dexter` Android Manifest so there is no reason for your code not to work. Are you using some sort of proguard/dexguard configuration? I guess the issue is related to that, we will be doing a release with a custom proguard configuration so that we don't obfuscate any class contained in the library.

Thanks for reporting

[2017-05-22 10:51] Serchinastico commented on #150
We are going to release a new version of Dexter with a proguard configuration so that we don't obfuscate any class in Dexter and we can debug what's happening better.

Thanks for reporting!

[2017-05-22 14:41] Serchinastico commented on #120
I was doing some testing today and I realized this is the same exact crash I was having when passing a null `rootView` to those listener implementations. I'm closing the issue as we don't have more information and that's probably the source of the problem.

[2017-05-22 14:41] #120 closed

[2017-05-23 01:58] qinyang1018 commented on #150
ok  thank you

[2017-05-23 09:45] qinyang1018 commented on #150
ok
i will try wait new version
thank you

[2017-05-23 19:38] robl2e commented on #126
Hi, I'm encountering this issue as well. Have you discovered a workaround or solution to do this issue. From reading the comments above I'm trying to understand, if the issue is related to Dexter itself or the system Activity that is presenting the alert? I like Dexter, but may need to look at alternative solutions because of this issue.

From debugging this scenario, I noticed the `DexterInstance

[2017-05-25 10:21] QinAndroid opened #153 "Attempt to invoke virtual method 'void com.karumi.dexter.DexterInstance.onActivityDestroyed()' on a null object reference"
[code]
### Version of the library
com.karumi:dexter:4.0.0

[2017-05-30 22:48] ultraon commented on #143
Hello everyone, i've bumped with the same issue, and via recents i even can return to the underlying activity and close it via click back :-) It is a very bad behavior. For my side i can fix it with following strings in my manifest:

The issue is in attribute (in Dexter library)

According to the doc: https://developer.android.com/guide/topics/manifest/activity-element.html , the launchMode "singl

[2017-06-05 20:43] ka05 commented on #143
I am also experiencing this issue. Has anyone found a fix yet?

[2017-06-08 09:43] qinyang1018 opened #158 "Camera permissions not click allow and deny direct callback"
Please forgive my English is not good
### Expected behaviour
Camera access normal callback

### Actual behaviour
Camera permissions not click allow and deny direct callback

### Steps to reproduce
[code]
Click on the screen after permission to apply for dialog，At the same time direct callback,I don't have a click allow and deny
[code]
```E/ServiceLazyFragment.java: [ (ServiceLazyFragment.java:179)

[2017-06-08 15:51] aldoborrero commented on #153
Also, happens on 4.1.0

[2017-06-13 14:32] djamb commented on #158
I think thats is a bug. You changed your camera permission manually. Unistall your app and reinstall.

[2017-06-14 03:45] qinyang1018 commented on #158
Uninstall or reinstall is still the same problem ，I don't have to manually modify permissions, is through the code to access

[2017-06-23 13:28] pedrovgs commented on #150
@flipper83 @Serchinastico I've seen you've merged a PR adding proguard support but not exporting the proguard configuration with the aar generated during the release.

You should enable ``consumerProguardFiles`` param as part of your build configuration.

Here you have an example:

[code]

[2017-06-23 16:39] EmmettWilson commented on #143
Our app is experiencing issues with this as well. Having the dialog in a new task eliminates the idea of it being modal. The user can swipe that task away without interacting with the dialog. So we never get the callbacks for accept or decline.

[2017-06-23 17:28] ka05 commented on #143
@EmmettWilson I would suggest using @ultraon 's solution for the time being.

[2017-06-23 18:45] EmmettWilson commented on #143
We found this when testing an upgrade from 2.3.1 and went ahead and blocked our upgrade of the library for our project until this is resolved.

[2017-06-23 18:55] EmmettWilson opened #160 "Theme.Transparent Namespace collisions can cause app crashes"
I use Dexter and another third party library that both have Theme.Transparent. The other sdk expected Theme.Transparent to be a child of an Appcompat Theme, and Dexter uses a non Appcompat theme. When the merged manifest is created one of the Theme.Transparent wins based upon ordering. When Dexter's theme wins it causes our app to crash within the other SDK with a  _java.lang.IllegalArgumentExcept

[2017-06-26 17:07] vinitthaker commented on #153
Facing the same issue. Did you guys find the solution for this?

[2017-06-28 02:30] EmmettWilson commented on #153
I believe this issue was already found and fixed on master. https://github.com/Karumi/Dexter/commit/d713fc52814e4e48a040b63bdb5e3a0e615eba9e

[2017-06-28 02:46] EmmettWilson commented on #150
The stack trace reported here appears to be a duplicate of https://github.com/Karumi/Dexter/issues/153. I say this because `DexterActivity.onDestroy()` on both 4.0 and 4.1 delegates directly and only to `DexterInstance.onActivityDestroyed()` where the null pointer happened. You can see that this is the first reference to Dexter within the call stack.
![image](https://user-images.githubusercontent.

[2017-06-28 08:43] Serchinastico commented on #150
Thank you @pedrovgs!

I checked the configuration with the project Demo and didn't really used the generated AAR, I'm including the property just now before doing a release.

Cheers!

[2017-06-28 09:09] Serchinastico commented on #160
Hi @EmmettWilson ,

Big woops from our side, we'll merge and release a new version with your PR included today.

Thank you very much for reporting and the solution :clap: .

[2017-06-28 09:54] #160 closed

[2017-06-28 13:37] EmmettWilson commented on #150
As far as the original exception. This appears to me to be a duplicate of https://github.com/Karumi/Dexter/issues/153?

[2017-06-28 13:40] Serchinastico commented on #153
It is now live, yes! It should be available in the newer version: 4.1.1

I totally forgot to give you an update on this, sorry about that.

[2017-06-28 13:40] #153 closed

[2017-06-28 13:40] #150 closed

[2017-06-28 23:21] EmmettWilson commented on #143
As I started looking into how to fix this I found several other issues surrounding interactions with the back stack. @pedrovgs @Serchinastico Do you want me to enumerate them here, in separate issues, or just explain in a pull request? The best way to describe really is a video.

[2017-06-29 08:04] Serchinastico commented on #143
Hi @EmmettWilson

We prefer to have separate issues for every problem but if you already have a PR in your pocket to solve them together just do whatever takes you less time/effort.

[2017-07-01 05:59] pouriabagheri commented on #112
@Alamgir @Serchinastico I faced the same issue I thought of using  `commitAllowingStateLoss()` instead of `commit()`. Note that according to android docs it is not a good idea to use [commitAllowingStateLoss] unless you are out of options. however, it think this solution would solve this issue.
(https://developer.android.com/reference/android/app/FragmentTransaction.html#commitAllowingStateLoss())

[2017-07-06 06:13] qinyang1018 opened #164 "demo dont work"
### Expected behaviour
![image](https://user-images.githubusercontent.com/15726024/27897731-a09122c0-6254-11e7-8644-cb724dcf381e.png)
![image](https://user-images.githubusercontent.com/15726024/27897763-ce2f9ab8-6254-11e7-95f1-bddc5a96afa5.png)

Run demo for all permissions, no dialog show, all permissions to become granted
![image](https://user-images.githubusercontent.com/15726024/27897790-f7e46

[2017-07-06 08:38] Serchinastico commented on #164
Hi @qinyang1018

I just tried in an emulator with Android 6.0 and it works fine. Have you tried completely deleting the demo app and installing it again?

If I had to do a wild guess I'd say that the problem might be in the Smartisan OS it looks like you are using, maybe that ROM is somehow ignoring request permissions and grants them by default (just like Android did before 6.0). Have you seen th

[2017-07-14 13:48] flipper83 commented on #142
please reopen the issue if you send us a PR with the feature.

[2017-07-14 13:48] #142 closed

[2017-07-14 13:50] flipper83 commented on #149
We don't have any reply about this problem for two months. I going to closed because we cannot reproduce the error without more info.

[2017-07-14 13:50] #149 closed

[2017-07-14 14:31] flipper83 commented on #158
@qinyang1018 what compilationversion are you using in you build.gradle?

[2017-07-16 07:42] qinyang1018 commented on #158
I'm sorry   To reply until now
![image](https://user-images.githubusercontent.com/15726024/28245578-ed242020-6a3c-11e7-9019-12cbd81195d5.png)
![image](https://user-images.githubusercontent.com/15726024/28245600-4af8fbe4-6a3d-11e7-8ca6-2fdc83f90f75.png)
this is my build.gradle

[2017-07-21 13:59] fjfdeztoro commented on #127
@Serchinastico could you elaborate a bit more? What you had in mind when you created this issue? I have a patch that protect ourselves from a null `PermissionRequestErrorListener` like this:

[code]

This will protect us from a null assignation for the error listener, but I'm not sure if that is what this issue aimed to describe.

[2017-07-21 14:05] Serchinastico commented on #127
Yes, that's what (I think) I had in mind, don't forget we have several other listeners, not only the error one: https://github.com/Karumi/Dexter/blob/master/dexter/src/main/java/com/karumi/dexter/Dexter.java#L60
It might be a good idea to report back to the user when they try to do something like this, maybe adding another possible value to https://github.com/Karumi/Dexter/blob/master/dexter/src/m

[2017-07-24 11:38] GuilhE opened #165 "Please close this issue"
I'm sorry this error was reported in the wrong lib, how to delete this issue?

[2017-07-26 18:55] greatjack1 opened #166 "Dexter does not call onPermissionsChecked after user denies permission"
Expected behaviour:
Each and every time dexter runs, it should check for permissions, and ask for them and then call the onPermissionsChecked method. Every single time Dexter is used it should repeat this.

Actual behaviour:
Dexter only calls it the first time I ask for permissions, how ever if the user denies the permission on the first time and then restarts the app, dexter will not call the onP

[2017-07-27 12:02] RuiMiguel opened #167 "check permission on Application context, without Activity"
### Expected behaviour
Provide public API on `Dexter`object to init with Application Context, not just with Activity to check permissions with no Activity (launching `DexterActivity` to do it)

### Actual behaviour
I've seen that on `DexterInstanceTest` Application Context is used to setup it and check permissions test run ok. When calls `DexterInstanceTest->startTransparentActivityIfNeeded` check

[2017-07-27 12:40] maraj91 commented on #166
Please add the line "token.continuePermissionRequest();" in the onPermissionRationaleShouldBeShown method for appearing the permission dialog again after deny.

Example like:-
Dexter.withActivity(this)
                .withPermission(Manifest.permission.WRITE_EXTERNAL_STORAGE)
                .withListener(new PermissionListener() {
                    @Override
                    public void onP

[2017-07-27 23:58] greatjack1 commented on #166
Thanks, issue closed

[2017-07-27 23:58] #166 closed

[2017-07-30 05:39] greatjack1 opened #168 "The dexter activity does not persist across device rotations"
### Expected behaviour
If the device is rotated when the permission dialog is shown, then it should still show the dialog

### Actual behaviour
when the device is rotated it stops showing the dialog

[2017-08-01 10:26] stefan-nsk opened #169 "SnackbarOnDeniedPermissionListener.Builder.with requires ViewGroup"
### Expected behaviour

[code]

### Actual behaviour

[code]

### Steps to reproduce

Try to create `SnackbarOnDeniedPermissionListener` using static method of builder.

### Version of the library

**4.1.0**

[2017-08-02 16:49] eygraber opened #170 "Requesting Permission After cancelPermissionRequest"
If I call `PermissionToken.cancelPermissionRequest` how can I get the library to start making permission requests for that permission again?

[2017-08-02 16:50] #165 closed

[2017-08-02 16:52] pedrovgs commented on #168
@greatjack1 could you provide some extra information? We need to know the library version you are using and also the  Android OS version

[2017-08-02 16:56] pedrovgs commented on #169
Hi @stefan-nsk I guess this is not a bug xD The snack bar component requires a ``ViewGroup`` instance. I'm closing this issue, sorry. If you want to avoid the downcasting you can use a library like [butterknife](https://github.com/JakeWharton/butterknife) so the casting is performed by the library and if the casting fails your app will crash.

[2017-08-02 17:02] pedrovgs commented on #169
My bad, the library accepts a view and in ``Snackbar:135`` is going to find the view parent. We could change the code to accept ``View`` instead of ``ViewGroup`` as param. As this is not a major feature we will wait for a collaborator PR 😃 if you don't mind.

[2017-08-02 17:05] pedrovgs commented on #170
@eygraber did you try invoking this?

[code]
or invoking ``token.continuePermissionRequest();`` instead of ``PermissionToken.cancelPermissionRequest``?

[2017-08-02 17:13] eygraber commented on #170
Here's the flow for `cancelPermissionRequest`:

1. `Dexter.withActivity(activity).withPermission(permission).withListener(listener).check();`

2. In the rationale callback I call `token.cancelPermissionRequest()`

3. I later call `Dexter.withActivity(activity).withPermission(permission).withListener(listener).check();` again but the permission dialog is not shown

Flow for `continuePermissionReque

[2017-08-02 17:17] pedrovgs commented on #170
If you invoke ``token.cancelPermissionRequest()`` you are telling the library the user doesn't want to accept your permission and the library won't show the final dialog. This is the expected behavior. If you want to show the Android native dialog always you should invoke ``token.continuePermissionRequest()``.

If you think there is something wrong with the lib or you've found a bug, it could be g

[2017-08-02 17:22] pedrovgs commented on #170
@eygraber the Google permissions systems works like this. The idea of the token is that you can show some feedback to the user explaining why you are going to ask for that permission. The user experience designed by google is something we can't change from our library even when we'd like 😃

I guess you've got the answer to your question, so I'm closing this issue. Thanks!

[2017-08-02 17:22] #170 closed

[2017-08-02 17:26] eygraber commented on #170
That's not really accurate, because with Google we can direct the user to the app settings to manually turn the permission on. With this, there's no way to go back. So even if the user didn't check the "Don't ask again" on the permission prompt, I can't ask them again.

[2017-08-02 17:29] pedrovgs commented on #170
Showing a rationale dialog while asking for the permission is not mandatory. You don't even have to ask for a yes/no question and just show a dialog saying "we need this permission because...". If I'm not wrong, this is more related to the UX than the library it self. @Serchinastico any other thought?

[2017-08-03 16:01] stefan-nsk commented on #169
You are welcome: #171.

[2017-08-03 16:04] pedrovgs commented on #169
uooo thanks!

[2017-08-06 11:18] alizarei95 opened #172 "Check permission error on Android Studio"
after using dexter to handle runtime permissions , android studio still show error on lines which need to runtime permission.I don't had this problem with [Permissive](https://github.com/jksiezni/permissive) library
is this a problem in dexter? or any idea to solve this problem?

[2017-08-07 10:37] Serchinastico commented on #164
Feel free to reopen the issue if you have additional information about it.

[2017-08-07 10:37] #164 closed

[2017-08-07 10:56] Serchinastico commented on #172
Hi @alizarei95,

Thanks for reporting, we'll need a code snippet showing us what permissions are using and the code you wrote to use said permission. We'll see if we can give AS some sort of hint so that it knows that you can use those APIs safely.

[2017-08-07 11:28] Serchinastico commented on #167
Hi @RuiMiguel,

Thanks for reporting! I know there was a reason we were asking for an `Activity` instead of the `Application` context before but, reviewing the code as it is right now, I don't see why we couldn't ask for a Context instead. In the end, we are only using it in `PermissionChecker.checkSelfPermission(context, permission)` and the _ghost activity_ we create when we really need to ask t

[2017-08-07 13:08] #169 closed

[2017-08-07 15:55] alizarei95 commented on #172
you can see everything i said in this images

Dexter
![untitled](https://user-images.githubusercontent.com/4469948/29034712-6d0a2064-7bae-11e7-826c-bbd4c3edf488.png)

Permissive
![capture](https://user-images.githubusercontent.com/4469948/29034721-7393223c-7bae-11e7-8fb7-26603def3f5d.PNG)

@Serchinastico

[2017-08-07 16:07] nex0s commented on #143
@Serchinastico it works perfectly (see my comment on your PR) :+1:

[2017-08-11 19:26] aalap03 opened #175 "it leaks memory with simple usage case."
I am using dexter with this scenario in my fragment and it leaks a lot of memory gradually around 10MBs. Is there any solution or work around to this ?

    Dexter.withActivity(context)
                    .withPermission(Manifest.permission.ACCESS_FINE_LOCATION)
                    .withListener(new PermissionListener() {
                        @Override
                        public void onPer

[2017-08-17 11:20] Serchinastico commented on #175
Hi @aalap03,

How are you verifying there is a memory leak? Have you verified it's effectively in Dexter? What version of the library are you using?

Next time, please follow the issue template or we will close it right away.

[2017-08-17 14:24] aalap03 commented on #175
Apologies for incomplete information, so I am verifying with LeakCanary, and the version is 4.1.0. This is the latest screen shots I have from leak canary, I deleted all the leaks so I have lost the leak of 10Mb which I mentioned in the title.

![screenshot_20170817-101818](https://user-images.githubusercontent.com/12421219/29417020-d6a57422-8335-11e7-83b9-236061434370.png)

[2017-08-18 00:28] ameerhamza6733 opened #177 "it not work on targetSdkVersion 26 it look like this lib still using targetSdkVersion 25"
### Expected behaviour
Ask run runtime multiple permissions

### Actual behaviour
noting displaced e.g. permissions dialog

### Steps to reproduce
i think you need update your compile and targetSdkVersion 25 SDK to 26

### Version of the library
4.1.0

[2017-08-18 07:37] Serchinastico commented on #177
We are about to release a new version of the library, feel free to send us a PR with the target sdk update and we'll be glad to merge it

[2017-08-19 14:31] mohamad-amin opened #178 "Large dependencies"
As [in this page](http://www.methodscount.com/?lib=com.karumi%3Adexter%3A4.1.0) this library has many dependencies that aren't used in many applications and somehow adds some overhead and extra method count, I know proguard will try to take care of this but I think it doesn't completely erase all unneeded dependencies.
Is there any way of removing some of these dependencies or at least creating so

[2017-08-21 08:22] Serchinastico commented on #178
Hi @mohamad-amin

The only two dependencies we have right now in the library are `com.android.support:design` and `com.android.support:appcompat-v7`. These are libraries that most of the projects should have already in their apps. The only way to reduce the method count would be to move the Snackbar implementation to a companion library but given the size of the project I'd rather not go that way.

[2017-08-21 08:22] #178 closed

[2017-08-23 20:38] aalap03 commented on #175
Closing it as decided not to use library and go with android implementation.

[2017-08-23 20:38] #175 closed

[2017-09-05 08:01] s1mar opened #179 "Permissions group"
Would it work if I simply supply the Permissions group to .withPermission() and if yes,then which listener would be used,Multiple or single one ?

[2017-09-05 08:58] salmansidd17 opened #180 "error in build.gradle"
### Expected behavior
it was supposed to be successfully compiled when it put
`compile 'com.karumi:dexter:4.1.0'`
in the dependencies.

### Actual behavior
i am using `'com.android.support:appcompat-v7:25.3.1'` and dexter:4.1.0 seems to be incompatible with gradle 25.3.1.

### Steps to reproduce
use library with these versions
[code]

### Version of the library
dexter:4.1.0

[2017-09-06 01:58] oligazar opened #181 "Activity with dexter only closes after the second click on the Back button."
It's expected that to move from an activity one should hit the Back button just once.

But instead, whenever I use Dexter.withActivity()... inside my onCreate() method, first click on the Back button doesn't close the activity, only the second one does.

Is it intended behaviour? Is there way to avoid that?

Dexter version: 4.1.0

[2017-09-08 07:20] Serchinastico opened #182 "Release 4.2.0"
Do a release with the new changes that have been merged

[2017-09-09 15:52] fooock commented on #172
`Permissive` not show the hint in the AS because the method `PermissionsGrantedListener#onPermissionsGranted()` throws a `SecurityException`, when `Dexter` not.

[2017-09-11 13:51] gromiloff opened #183 "onPermissionDenied called twice if decline access to permission"
### Expected behaviour
onPermissionDenied(PermissionDeniedResponse response) must called one time

### Actual behaviour
onPermissionDenied(PermissionDeniedResponse response) called twice

### Steps to reproduce
1. Dexter.withActivity(this)
                    .withPermission(Manifest.permission.ACCESS_FINE_LOCATION)
                    .withListener(this)
                    .withErrorListener(thi

[2017-09-19 07:50] spurd0 opened #184 "onPermissionRationaleShouldBeShown dialog behind system permission dialog."
### Expected behaviour
PermissionToken pauses system dialog for permission untill PermissionToken.cancel() or PermissionToken.continue() is called.

### Actual behaviour
onPermissionRationaleShouldBeShown dialog is behind system permission dialog. It's only avaiable when user clicks grant or deny button.

### Steps to reproduce
Press contacts button, deny permission. Press contacts once more, onPe

[2017-09-20 09:25] Serchinastico commented on #179
Hi @s1mar

If you use `withPermission` then you should be passing one and only one permission, the API won't let you pass anything else. In that case you can only provide a regular `PermissionListener`. If you use `withPermissions` then you are forced to use a `MultiplePermissionsListener`. The API is using a builder that won't let you make the wrong choice so it should be rather easy.

Feel free

[2017-09-20 09:25] #179 closed

[2017-09-20 09:30] flaquir4 opened #185 "Dexter activity slows app"
### Expected behaviour
Launch new Activity and a dialog shows requesting permissions, without any frame dropped.

### Actual behaviour
Launch new activity and Choreographer says that the applications is doing to much work and skypes 340 frames.

Also the Android profiler shows that DexterActivity stays on during 5 seconds

![image](https://user-images.githubusercontent.com/2788459/30636884-fe3cd0d

[2017-09-20 09:31] Serchinastico commented on #180
Hi @salmansidd17

We have a pending release (will be `4.2.0`) that is using `com.android.support:appcompat-v7:25.3.1`. However, if you need it right now, I'd suggest you to exclude the appcompat dependency from dexter by using this configuration:

[code]

I haven't tested it myself but it should work just fine.

[2017-09-20 09:43] Serchinastico commented on #181
Hi @oligazar

Looks like an interesting behavior, it might have to do with #143. However, I did some quick tests with the sample project by moving the Dexter requests to the `onCreate` method of the activity and I couldn't experience it myself so it might have to do with your specific configuration?

I'd suggest you to try out the oncoming version `4.2.0` once it's released.

[2017-09-20 09:50] Serchinastico commented on #183
Hi @gromiloff

Where are you asking for permissions? If it's on the `onResume` method I'd say your problem is there, keep in mind that when the permission has been denied, we need to launch an invisible activity to ask the system for the real state of the permission status so it might re-trigger the `onResume` method of your activity.

If you send us more context on how are you using Dexter we can

[2017-09-20 10:05] Serchinastico commented on #184
Hi @spurd0

I'm wondering if it has to do with the change we introduced in `3.1.0` where the `BasePermissionListener` now calls `token.continuePermissionRequest();` in the default `onPermissionRationaleShouldBeShown` implementation. The reason was that we had several opened issues wondering why the permissions flow suddenly stopped and wasn't working just because they weren't using the token at al

[2017-09-20 10:40] Serchinastico commented on #185
Hi @flaquir4

The Android activity might live longer than that depending on a lot of things, the skipped frames shouldn't happen though, do you know if it happens in the Dexter sample project as well?

[2017-09-20 11:48] salmansidd17 commented on #180
Hi @Serchinastico ,
I got it to work by downloading the library myself and recompiling it with the latest appcompact version. I'll try your method too. Hope it'll work fine.
Thank you :)

[2017-09-21 10:28] flaquir4 commented on #185
I don't know why but the problems appear when I have a progressbar in the activity which request the permission.

It seems a bit strange but I upload the example modified in order to show the problem.

[Dexter.zip](https://github.com/Karumi/Dexter/files/1320818/Dexter.zip)

[2017-09-27 00:03] valterh4ck3r commented on #62
What is solution ?

[2017-09-30 01:33] oa-azab commented on #175
got same result from leakcanary on version 4.1.0

[2017-10-18 17:08] vanlopes commented on #158
Please be sure that you have your Camera permission in your `AndroidManifest.xml`. Had this same behaviour times ago.

[2017-10-19 02:12] qinyang1018 commented on #158
it have on AndroidManifest.xml

[2017-10-24 07:37] romshiri opened #189 "Check for permission without actually ask for it using Dexter"
Hi guys,

Is there any way to check for permissions without actually showing a dialog using the library?
I know I can do that with the framework library but as the code in Dexter is much cleaner so I prefer to use that.

I couldn't find in the documentation something that points to that.

Thanks.

[2017-10-24 07:44] Serchinastico commented on #189
Hi @romshiri

The dialog is not part of Dexter but the Android system, there is no way you can get rid of it, even if you don't use Dexter. However, if you are talking about the rationale dialog, that's an optional implementation we provide but you can always use the `BasePermissionListener` implementation.

[2017-10-24 21:42] adrcotfas opened #190 ""Don't show again" behavior"
Not actually an issue but a feature proposal:

- When asking for permission, user clicks "Deny"
- "permissions are needed for doing some magic" SnackBar appears
- When asking for permission again, user clicks "Don't show again" and "Deny"
- Current behavior: SnackBar continues to appear / Desired behavior: SnackBar does not appear anymore

This may be implemented with the persistence of the isPerm

[2017-10-25 15:57] adrcotfas commented on #190
Ok, I managed to figure it out: Just don't check for the permission if the user toggled "Don't show again" which is equivalent to !showSnackbar in this case.
Thanks for the library!

        boolean showSnackbar = true;
        if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.M) {
            showSnackbar = shouldShowRequestPermissionRationale(Manifest.permission.READ_CONTACTS)

[2017-10-25 15:57] #190 closed

[2017-10-28 11:25] sudheerkumarnokku commented on #121
compile 'com.android.support:appcompat-v7:25.1.0'
    testCompile 'junit:junit:4.12'
    compile 'com.google.firebase:firebase-messaging:11.0.4'
    compile 'com.google.firebase:firebase-auth:11.0.4'

[2017-10-28 11:26] sudheerkumarnokku commented on #121
compile 'com.android.support:appcompat-v7:25.1.0'
    testCompile 'junit:junit:4.12'
    compile 'com.google.firebase:firebase-messaging:11.0.4'
    compile 'com.google.firebase:firebase-auth:11.0.4'
 is correct or not
tell me

[2017-10-28 11:32] sudheerkumarnokku opened #191 "errors"
my errors
Failed to resolve: com.google.firebase:firebase-messaging:11.0.4
Failed to resolve:com.google.firebase:firebase-core:11.0.4
  Failed to resolve : com.google.firebase:firebase-auth:11.0.4
plz help me this is my first app

[2017-10-28 11:34] sudheerkumarnokku commented on #191
my errors
Failed to resolve: com.google.firebase:firebase-messaging:11.0.4
Failed to resolve:com.google.firebase:firebase-core:11.0.4
Failed to resolve : com.google.firebase:firebase-auth:11.0.4
plz help me this is my first app

[2017-10-28 11:41] Serchinastico commented on #191
Hi,

We have some guidelines to open an issue, please follow them so that we can better help you.

[2017-10-28 11:41] #191 closed

[2017-10-28 17:50] joreilly opened #192 "Use of Dexter when running Roboelectric unit test"
Is there any recommended way of using Dexter when running as part of Roboelectric unit test?  For example, is there a shadow version of Dexter that can be used?

[2017-10-30 00:29] ebabel opened #193 "Resource conflict with appcompat v7"
When using build tools 26 and the latest beta of appcompat v7 there is a resource conflict with textColorError.

### Version of the library
4.1.0 & 4.1.1

[2017-10-30 05:59] dyxin00 opened #194 "crash report"
java.lang.RuntimeException: Unable to destroy activity {com.qdu.cc/com.karumi.dexter.DexterActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.karumi.dexter.d.a()' on a null object reference
at android.app.ActivityThread.performDestroyActivity(ActivityThread.java:4405)
at android.app.ActivityThread.handleDestroyActivity(ActivityThread.java:4423)
at android.app.Act

[2017-10-30 09:27] pedrovgs commented on #194
Hi @dyxin00 Thanks for reporting. We have an issues template designed to help us to find the issue faster and be able to fix it asap. I'm closing this issue so you can easily rewrite it using the template 😃

[2017-10-30 09:27] #194 closed

[2017-10-30 09:29] pedrovgs commented on #193
Hi @ebabel I think you can, for now, exclude ``appcompatV7`` dependency manually using Gradle for now. Please, could you confirm if this is a valid workaround in your case?

[2017-10-30 09:36] pedrovgs commented on #192
Hi @joreilly we don't have any shadow for Dexter and I don't think we need it. As Dexter is just a wrapper on top of the Android Permissions system, if you have a shadow for the Android SDK permissions API you won't need any shadow for this library. Is this the answer to your question?

[2017-10-30 09:59] joreilly commented on #192
Hi @pedrovgs, I had thought that as well but get following crash when I unit test activity that uses Dexter

[code]

[2017-10-30 10:26] pedrovgs commented on #192
I have no idea how this is even possible... @Serchinastico any clue?

[2017-10-31 11:23] fjfdeztoro commented on #182
https://github.com/Karumi/Dexter/releases/tag/4.2.0

[2017-10-31 11:24] #182 closed

[2017-11-02 11:23] RbkGh opened #195 "permission declaration inside the application tag does not send any notification as that does not allow app to request the required permissions."
### Expected behaviour
There should be a notification when the permission is declared inside application tag in the manifest file or the docs should be updated to ensure that users of the library do not forget to declare the permissions outside the application tag in the manifest file.

### Actual behaviour
The request for the permission simply does not show up and the permission is not granted.

[2017-11-02 18:22] fjfdeztoro commented on #195
Hi @RbkGh, thanks for your request but Dexter's purpose is to handle all the boiler plate related to the permission handling so you can focus in your app business logic.

If you declare your permissions outside the application tag, Dexter will behave as the system, so that's not an issue.

Once said that, if you have a PR that solves the problem you've described, I encourage you to submit it so we

[2017-11-02 18:22] #195 closed

[2017-11-02 21:56] RbkGh commented on #195
#196 this pull request should enhance this

[2017-11-08 03:37] szhupeng opened #197 "Memory Leak"
### Expected behaviour
grant permission but no memory leak

### Actual behaviour
cause memory leak by Dexter.instance hold the refrences of activity

### Steps to reproduce

use LeakCanary to watch the activity that use dexter to grant permission

### Version of the library

4.2.0

[2017-11-17 16:08] ganfra commented on #107
Hi @rfgamaral
Seems like the issue is back on version 4.1.0...
I can't reproduce, but I have some crash related to this in Crashlytics

[code]

Thanks :-)

[2017-11-22 10:32] joelbrostrom commented on #172
Should I just ignore the errors, or can I somehow add the flags to suppress the Errors?

[2017-11-28 09:08] darcheville opened #198 "DexterActivity not found in manifest"
Hello,

thx for your awesome library, i used it in many projects but i have a strange error today :
android.content.ActivityNotFoundException: Unable to find explicit activity class {com.*************/com.karumi.dexter.DexterActivity}; have you declared this activity in your AndroidManifest.xml?
11-28 09:54:06.815 3330-3330/com.************* W/System.err:     at android.app.Instrumentation.checkSt

[2017-11-28 09:23] darcheville commented on #198
Works when i add :
        <activity
            android:name="com.karumi.dexter.DexterActivity"
            android:theme="@style/Dexter.Internal.Theme.Transparent"
            />
to my manifest

[2017-12-01 08:00] fjfdeztoro commented on #198
Thank you for reporting this issue.

Do you have any extra information? With the current report is quite hard to figure out what's going on 😅

[2017-12-01 09:15] darcheville commented on #198
I think that could be build.gradle configuration :

Have a good day :)

[2017-12-05 01:38] DovSnier commented on #158
Is this problem solved ？

[2017-12-09 10:20] MohNage7 commented on #107
@ganfra  yeah it happens with me too at 4.1.0

[2017-12-21 17:22] AdityaAnand1 opened #199 "Support dark theme?"
My app is dark by default. The permissions dialog kinda sticks out like a sore thumb :/

[2017-12-22 11:56] Serchinastico commented on #199
Hi @AdityaAnand1

The permissions dialog is native and we don't have any control over it. As it is right now, there is no way we can customize it ourselves.

[2017-12-22 11:56] #199 closed

[2017-12-22 14:37] AdityaAnand1 commented on #199
Oh. Wow, that sucks.

[2017-12-25 16:18] cmeng-git opened #200 "REQUEST ALL in sample example not working as expected"
Observe the following when trying the SampleActivity downloaded from the master repository (v4.2.0)
The Dexter is installed on Note 8.

### Expected behaviour
Click on the RequestAll button launches the showPermissionRationale dialog as expected.  It should then wait for user to click on the OK button before proceed to prompt user with the Permission Request dialog.

### Actual behaviour
After the

[2017-12-27 10:00] nick252 commented on #107
same crash on Dexter 4.2

com.karumi.dexter.DexterActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'void android.app.Activity.finish()' on a null object reference
       at android.app.ActivityThread.deliverResults(ActivityThread.java:3919)
       at android.app.ActivityThread.handleSendResult(ActivityThread.java:3962)
       at android.app.ActivityThread.access$1500(Act

[2018-01-06 15:18] jangrewe opened #201 "Conflict with com.android.support:support-core-utils:26.1.0"
### Expected behaviour
I'm using `com.android.support:support-core-utils:26.1.0`, but it looks like Dexter still uses `com.android.support:animated-vector-drawable:25.3.1`, which creates a conflict in Android Studio.

### Version of the library

4.2.0

[2018-02-11 08:40] 1stmetro opened #203 "Persmissions to write to External Storage, failing..."
I have an issue where as the permissions to write to the external SD Card is granted, but i am unable to write to the device.

I have tried various paths but nothing seems to work, so i guess i am missing something but not sure what as the permissions are granted.

I have tried on various devices and they all do the same,

Does anyone have something i can look at to see where its going wrong or pe

[2018-02-11 10:20] #203 closed

[2018-02-15 21:11] 1stmetro opened #204 "Help with Nougat 7.1.1"
I did manage to get dexter working once but once i reinstalled the app it just does not popup the dialog to accept permissions, it does say that i have permissions to write on the external SD but it wont write to it.

But i have had it working prior to the reinstall.

Any help would be most appreciated..

[2018-02-17 21:30] #204 closed

[2018-03-01 17:52] stefanborne commented on #201
I had a problem building project with the newest support library (27.1.0), so I had to include these:

configurations.all {
    resolutionStrategy.force "com.android.support:animated-vector-drawable:$support_version"
    resolutionStrategy.force "com.android.support:design:$support_version"
}

Now everything works well and there is no conflict anymore.

[2018-03-01 19:22] jangrewe commented on #201
Thanks, that's a very handy option!

[2018-03-06 09:51] Serchinastico commented on #197
Hey @szhupeng,

Can you reproduce it with the sample project?

[2018-03-08 22:02] erawhctim commented on #189
@romshiri I was wondering the same thing. From what I can tell, Dexter doesn't have a method to do this, I would guess because the [actual platform API call](https://developer.android.com/reference/android/support/v4/content/ContextCompat.html#checkSelfPermission%29android.content.Context,%20java.lang.String%29) call is simple enough that there's no need to make a dexter wrapper around it. I'd jus

[2018-03-10 08:18] monowar1993 commented on #200
@Laura-karumi please look at the issue. I also have the same problem on 8.0. Actually Background thread permission listener works as expected. But sample permission listener shouldshowretional dialog is messed up. Its asking for permission before I press ok button. Please do check.

[2018-03-12 07:02] Serchinastico commented on #201
We are updating those libraries on the go so you can either wait for an updated release or force a version yourself in your gradle version. Thanks for reporting

[2018-03-12 07:02] #201 closed

[2018-04-10 15:15] sklinefelter commented on #197
Interesting...I no longer have the leak if I comment out this line:

`this.listener = new MultiplePermissionListenerThreadDecorator(listener, thread);`

With that line on rotation, I can easily reproduce the leak.

[2018-04-18 01:55] amadeu01 commented on #91
@Serchinastico

The [documentation](https://developer.android.com/training/monitoring-device-state/doze-standby.html) says that is possible to request the permission and do not have to lead the user to the settings screen.

[2018-04-19 20:38] SimonLegros77 opened #207 "Translucent animation flickering when checking for declined (with don't ask again checked) permission"
### Expected behaviour
- If permission is already declined when invoking Dexter.check(), startTransparentActivityIfNeeded() should not start DexterActivity. Thus preventing any kind of flicker and animation when opening/closing activities.

### Actual behaviour
- If I call check() on Dexter library for a permission that was already declined (With flag "don't ask again" checked), I see translucent

[2018-04-20 16:28] autonomousapps commented on #197
@Serchinastico any updates on this? We'd love to use your library, but the only PR ever opened that addressed it ended up being closed.

[2018-04-23 07:05] Serchinastico commented on #197
Hi @autonomousapps

There is an open PR fixing the issue (https://github.com/Karumi/Dexter/pull/206) but looks like it still has some flaws. However, I understand your concerns and I will try to address the issue by the end of the week.

[2018-04-23 17:12] autonomousapps commented on #197
Thank you! cc/ @sklinefelter

[2018-05-08 21:53] jjimenez0611 commented on #60
Hi have the same issue, my device is a S7 edge with nougat version 7.0...

The first launch of my app dexter don't work I hace to close the app and open again...

I call the Dexter library on the onCreate method...

[2018-05-08 22:16] jjimenez0611 commented on #60
I think is because I try to request the permissions but, in another process I made a intent to another activity.. And the Dexter dialog stay active and not show again...

[2018-05-21 20:07] augustodossantosti commented on #193
I have same error here. Dexter 4.2.0 is incompatible with appcompat-v7:27.1.1

[2018-06-09 06:26] yussefbens commented on #180
for those who still research for solution with this issue.. try to implement android.design
`implementation 'com.android.support:design:27.1.1'`
I tried the solution suggested by @Serchinastico by it not seems working then I download the lib and install it manually in my project and I found the error in the Snackbar where you should already have android.support.design to use it.

[2018-06-21 17:51] ShrutiLK commented on #207
Same issue with my code. Any luck?

[2018-06-22 07:29] rid-hrant commented on #193
Hi @augustodossantosti. Try to use new version of the library it's fixed in v5.0.0

[2018-07-07 16:22] hiddeneyes02 opened #211 "PermissionDeniedResponse.isPermanentlyDenied() always true on Android 6.0"
### Expected behaviour
When user denies multiple times a permission on Android6.0, he can't use Never ask again checkbox, because it does not exist yet on API23. So using `isPermanentlyDenied() ` has no sense on this API.

### Actual behaviour
`PermissionDeniedResponse.isPermanentlyDenied()` always true

### Steps to reproduce
[code]

This code works fine on API 27, but when executed on API 23 it

[2018-07-17 14:08] rajeshdeva232 opened #212 "App is crashing after checked Never ask again and deny the permission"
### Expected behavior
The application should not crash

### Actual behavior
The application crash

### Steps to reproduce

Dexter.withActivity(EditProfile.this)
                            .withPermissions(
                                    Manifest.permission.CAMERA,
                                    Manifest.permission.READ_EXTERNAL_STORAGE,
                                    Manifest.permi

[2018-07-22 08:29] omidp opened #213 "Showing a dialog before android permision dialog onPermissionRationaleShouldBeShown does not work when pressing back button"
### Expected behaviour
I want to help the user understand why my app needs a permission before showing android permission dialog. I'm using a helper dialog to explain that. I disabled the back press button on the helper dialog so the only way to close the dialog is to press  a button on the dialog. after user press the close button I consume token with token.continuePermissionRequest(); and androi

[2018-09-07 07:32] Alankar0416 commented on #126
+1. Please let us know of any fix if available.

[2018-09-17 15:38] gcatak opened #215 "WRITE_EXTERNAL_STORAGE not working on Oreo"
WRITE_EXTERNAL_STORAGE, this permission is not working on Oreo. I am creating images in a folder but for oreo it is not working when it is working for lower versions. How can I solve?

### Version of the library
5.0.0

It gives this error:

[2018-09-18 10:56] gcatak commented on #215
Could you look this SO question, please?

https://stackoverflow.com/questions/52383849/java-io-filenotfoundexception-no-such-file-or-directory-error/52384223?noredirect=1#comment91713796_52384223

[2018-09-25 20:18] grzesiek2010 opened #216 "No action after clicking on `DENY` or `ALLOW` if a device has been rotated (with a displayed permission dialog)"
Hi,
I'm an Android developer and I work on [ODK Collect](https://github.com/opendatakit/collect). We have started using this library recently and we have discovered one issue I would like to describe.

### Actual behavior
The problem is that if we rotate a device after displaying a permission dialog (like https://fscl01.fonpit.de/userfiles/7156896/image/double_perm_1.png) there is no action after

[2018-10-01 13:16] yigitserin opened #217 "All com.android.support libraries must use the exact same version specification"
I am getting this error on my gradle file after updating to build tools 28.

[2018-10-03 10:59] Serchinastico commented on #217
I think #201 or #121 already addressed this issue.

Please, feel free to reopen it if you find your problem persists.

[2018-10-03 10:59] #217 closed

[2018-10-03 13:03] Serchinastico commented on #216
Hi @grzesiek2010

You are absolutely right, at some point we had the possibility to re-subscribe to an ongoing permission request but we ended up removing it from the API because we never got it completely right and it was causing a lot of bugs/noise. Having said that, we won't implement it, but we are open to forks and/or PRs to reenable that functionality once again.

[2018-10-03 13:08] Serchinastico commented on #215
Hi @gcatak,

This is an open source project so feel free to send us a PR fixing the issue and we will gladly merge it and release a new version.

But first, I recommend you to look to:
* https://stackoverflow.com/questions/48172519/oreo-write-external-storage-permission
* https://stackoverflow.com/questions/49775322/how-to-have-read-write-external-storage-after-targeting-android-o-26-8-0

To see i

[2018-10-03 13:08] #215 closed

[2018-10-03 13:11] grzesiek2010 commented on #216
@Serchinastico thanks for the clarification.

[2018-10-03 13:11] #216 closed

[2018-10-03 13:13] Serchinastico commented on #212
Can you send us the stacktrace of your crash or any other information about it?

[2018-10-03 13:27] Serchinastico commented on #211
Hi @hiddeneyes02

I see, we are directly associating `!ActivityCompat.shouldShowRequestPermissionRationale(activity, permission)` to the `isPermanentlyDenied` flag but as you said, before API 23, it doesn't make much sense and should be false instead. We should be adding that the `isPermanentlyDenied` method to `AndroidPermissionService` and check for the Android version there.

I'm sending a PR t

[2018-10-15 03:50] tritueviet opened #221 "NullPointerException on Activity.finish"
Caused by java.lang.NullPointerException
Attempt to invoke virtual method 'void android.app.Activity.finish()' on a null object reference
com.karumi.dexter.DexterInstance.onPermissionsChecked (Unknown Source:27)
com.karumi.dexter.DexterInstance.updatePermissionsAsDenied (Unknown Source:36)
com.karumi.dexter.DexterInstance.onPermissionRequestDenied (Unknown Source)
com.karumi.dexter.Dexter.onPermis

[2018-10-31 22:59] AlexVPerl opened #222 "Check does not a second time"
### Expected behaviour
Check & listener methods should run as many times as it is called.

### Actual behaviour
Check & listener methods do not run 2nd time they are called.

### Steps to reproduce
Using listener methods to redirect to another activity to show rationale. Calling .check on 2nd time does nothing.

### Version of the library
Latest 5.0

[2018-11-01 17:10] shobhitagarwal1612 commented on #197
I am also facing a similar issue. Is there any progress with this issue?

[2018-11-07 18:39] burekas7 opened #223 "Permission dialog isn't shown after turning off the premission manually"
Background:
1. The Dexter is a fragment inside ViewPager inside the main activity.
2. Requesting for "Locations" permissions.

Scenarios:
1. [OK] On the first time the app is running, Location is disabled, the dialog is shown up (onPermissionsChecked is activate and confirm the dialog does the work)

2. [OK] In the second time opening the app, Location is already enabled, dialog isn't shown up as

[2018-11-14 14:32] natario1 opened #224 "Is this recreation safe? How?"
How does Dexter deal with activity recreation?

By this I mean, I ask for permissions, permission dialog is shown, then I close the app and go to another. Android might kill the app after saving its state. When going back the whole stack is recreated and dialog should still be shown. But I don't see how you would retain the `PermissionListener` object.

[2018-11-16 10:58] forlayo opened #225 "Support for MediaProjection permission request."
### Expected behaviour
In order to use MediaProjection you need to request for a permission in this way:
[code]

And then you're going to receive at
`onActivityResult(int requestCode, int resultCode, Intent data)`

The "data" you need to start mediaprojection; it would be great if this fantastic library add support for this, specially while using it from C++ side, where makes the things a lot easi

[2018-12-05 12:57] stoefln commented on #113
Exactly this is happening for me in version 5.0.0 on wear os!

[2018-12-21 07:04] sathishmscict opened #227 "Permissions dialog not working in fragment"
### Expected behaviour

### Actual behaviour

### Steps to reproduce
MainActivity permission allow then replace a fragment in activity. From fragment location permission checked with Dexter permission allow dialogue not appeared.

    Dexter.withActivity(getActivity())
                        .withPermissions(
                                Manifest.permission.ACCESS_COARSE_LOCATION,

[2019-01-23 10:11] khadkarajesh opened #228 "Support for androidx"

[2019-01-25 03:58] rajeshkumarkhadka opened #229 "Library should provide proper message if permission declaration doesn't exist on AndroidManifest.xml"
### Expected behaviour
If any permission has requested on the code but hasn't declared on the manifest. We should provide a proper message to declare permission on manifest

### Actual behaviour
Not showing any message to declare in manifest

### Steps to reproduce
Execute the code without declaring camera permission on the manifest.

[code]

### Version of the library
5.0.0

[2019-01-28 16:17] nikitoSha commented on #80
I have the same issue. Step-by-step:
1. open activity;
2. at OnCreate:
Dexter.withActivity(this)
                .withPermissions(Manifest.permission.READ_EXTERNAL_STORAGE,
                        Manifest.permission.WRITE_EXTERNAL_STORAGE)

3. Touch edit -> no keyboard.
4. press "back";
5. touch edittext -> keyboard showing.

[2019-02-15 09:55] mrttson commented on #223
I solved the problem with adding bellow code "**token.continuePermissionRequest();**"

`
@Override public void onPermissionRationaleShouldBeShown(List<PermissionRequest> permissions, PermissionToken token) {

                        token.continuePermissionRequest();
                        showSettingsDialog();

                    }
`

[2019-02-18 15:31] ppda1996 opened #230 "still getting Erroe in library"
### Expected behaviour

### Actual behaviour
dependencies {
    implementation fileTree(dir: 'libs', include: ['*.jar'])
    implementation 'com.android.support:appcompat-v7:28.0.0'  //still got error of com.android.support library must use the exact same version specification after adding dexter library and syncing.
    implementation 'com.android.support.constraint:constraint-layout:1.1.3'
    t

[2019-02-27 06:20] SreekanthMekala commented on #105
Guys! same problem in version 5 also. How to fix once we get this

[2019-03-01 11:01] yevhenii-kanivets commented on #126
+1, in my case it can be reproduced by clicking on App Links.

[2019-03-12 08:27] Papashkin commented on #227
@sathishmscict I'm using this library in fragments and seems it works ok.
I use Dexter like the following code:
` vButtonCamera.setOnClickListener {
            Dexter.withActivity(this.activity)
                    .withPermission(Manifest.permission.CAMERA)
                    .withListener(permissionListener)
                    .check()
}`

I'm just using Kotlin instead Java, but `this.activit

[2019-03-12 09:04] Papashkin opened #231 "Fragment is recreated after permission confirming"
I implemented this library to my project and now I'm trying to use it in fragment to get camera permission.
### Expected behaviour
After confirming I want to start camera fragment withaout application re-creation.

### Actual behaviour
After confirming I return to last state of application.
I tried to override the `onRequestPermissionsResult` method, but in this method I receive the GRANTED value

[2019-03-29 00:45] AbdulqaioomAldhabab opened #232 "Soft Keyboard disappear after dined permissions and ui reload when grant permission"
### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Version of the library

[2019-03-29 06:42] pedrovgs commented on #232
Please @AbdulqaioomAldhabab fill the template properly.

[2019-03-29 06:42] #232 closed

[2019-04-03 05:16] cviacmob opened #233 "camera images and upload the camera images to low qulity of picture saved, i want to orginal picture"
public void choosePhotoFromGallary() {
        Intent galleryIntent = new Intent(Intent.ACTION_PICK,
                android.provider.MediaStore.Images.Media.EXTERNAL_CONTENT_URI);
        startActivityForResult(galleryIntent, GALLERY);
    }
    private void takePhotoFromCamera() {
        Intent intent = new Intent(android.provider.MediaStore.ACTION_IMAGE_CAPTURE);
        startActivityForResult

[2019-04-05 09:33] am9072 commented on #121
For those who still getting some error is because of android-support conflicting versions
Solution :
https://youtu.be/UDLqFbat7n0

This will solve your problem.

[2019-04-09 20:22] mgpx commented on #121
Thank you for sharing, it worked for me too.

[2019-04-11 04:09] #233 closed

[2019-04-20 13:57] mainuddinprodan commented on #230
Network do not working

[2019-04-22 07:25] pedrovgs commented on #230
Could you please describe the error properly?

[2019-04-22 07:25] #230 closed

[2019-05-28 10:42] nick252 commented on #221
Same crash
at com.karumi.dexter.DexterInstance.onPermissionsChecked(Unknown Source)
       at com.karumi.dexter.DexterInstance.updatePermissionsAsDenied(Unknown Source)
       at com.karumi.dexter.DexterInstance.onPermissionRequestDenied(Unknown Source)
       at com.karumi.dexter.Dexter.onPermissionsRequested(Unknown Source)
       at com.karumi.dexter.DexterActivity.onRequestPermissionsResult(Un

[2019-05-28 14:19] rcpassos commented on #105
I'm getting the same issue here with the version 5.0.0

[2019-06-09 13:36] Hoss3inf commented on #61
Dear @Serchinastico
I was wondering if there is any way to let the user see the dialog the first time the app attempts to ask for the permission, as an explanation to the user why the app is asking for the permission?
thanks in advance.

[2019-06-10 06:15] pedrovgs commented on #61
@Hoss3inf you can always show any or contextual help dialog before using Dexter.

[2019-06-10 13:06] Hoss3inf commented on #61
@pedrovgs I just thought I can do it within Dexter. thanks for your reply.

[2019-06-10 13:07] pedrovgs commented on #61
That's simple to implement and depends a lot on the user needs that we decided not to add that feature to the lib.

[2019-06-19 08:20] KevinGitonga commented on #55
This actually fixes the issue.....

[2019-06-19 17:42] Ynnck123 commented on #222
I also face this issue, any updates on this?

[2019-06-21 11:37] PramodGarg commented on #212
Process: in.myapp.debug, PID: 22489
    kotlin.KotlinNullPointerException
        at com.myapp.android.ui.addManually.UploadDocumentFragment.checkStoragePermission(UploadDocumentFragment.kt:50)
        at com.myapp.android.ui.addManually.UploadDocumentFragment.access$checkStoragePermission(UploadDocumentFragment.kt:30)
        at com.myapp.android.ui.addManually.UploadDocumentFragment$onViewCreate

[2019-07-16 07:22] chaitanya-vanapamala opened #235 "Blocking Screenshots and Screen Recording"
Our Application need to block all the screenshots and Recording of screen. **com.karumi.dexter.DexterActivity** is not having **FLAG_SECURE** for the Screenshot protection. Shall we expect change in next version?

### Version of the library
4.2.0

[2019-07-16 07:37] pedrovgs commented on #235
@chaitanya-vanapamala as soon as that flag doesn't modify the observable behavior of the lib feel free to send a PR adding the flag to the activity when needed.

[2019-08-07 11:41] PalakSDarji commented on #227
happens to me too..

[2019-08-26 10:26] felipe-silvestre-morais commented on #113
This is still happening in version 5.0.0

[2019-09-17 08:31] #228 closed

[2019-09-20 14:29] chihung93 commented on #105
I'm getting the same issue here with the version 6.0.0
`com.karumi:dexter:6.0.0`

[code]

Devices: Nokia
OS: 9.0 - P

[2019-09-20 16:49] pedrovgs commented on #105
Hi @chihung93 we can't reproduce it. Could you create a sample project public on github with the code needed to reproduce it?

[2019-09-21 09:58] chihung93 commented on #105
This is my beta library.
https://github.com/chihung93/Space-Navigation-V2

You can download it and try to these step :
Step 1: Click on Centre button => Popup request permission show up
Step 2: Click Deny
Step 3: Tap on the Centre button 2- 3 times again.
Step 4: see the Toast `Request_ongoing`

[2019-09-25 18:44] krahul08 commented on #227
Expected behaviour
Once denied it will  ask permissions  again and again  until permanently  denied.
Actual behaviour
It is not asking permissions  once denied .
Steps to reproduce
MainActivity permission allow then replace a fragment in activity. From fragment location permission checked with Dexter permission allow dialogue not appeared.

Dexter.withActivity(getActivity())
                .withP

[2019-10-04 07:55] pedrovgs commented on #105
Ok, I know what's going on. It's a wrongly configured listener what we have here and a missing documentation part from our side. I'm going to update the project readme with some information about this scenario and explain here what's going on.

If you don't configure the token you receive ``onPermissionRationaleShouldBeShown`` properly Dexter will not let you ask for the permission again because t

[2019-10-04 08:12] pedrovgs commented on #227
@sathishmscict @PalakSDarji can you please fill the issue template properly? We need to know the expected behavior, the behavior you are facing, and the version of the library you are using to be able to understand what's going on. If you could also create an example project on GitHub reproducing the error, that'd be awesome 😃

[2019-10-04 16:45] AshishGrt commented on #105
This thing took my 4 hours, update it there asap for saving time of others..

[2019-10-04 16:55] chihung93 commented on #105
OK great, work like a charm :)))

[2019-10-08 15:33] mhopmann commented on #221
I had the same behavior when calling Dexter check from OnResume (from a Fragment, but it is probably the same from an Activity).
When I call it from onViewCreated, it's ok.

[2019-10-09 07:47] pedrovgs commented on #221
@mhopmann can you please tell us the version of the library you are using?

[2019-10-09 08:11] mhopmann commented on #221
I'm using 6.0

[2019-10-12 13:04] fanxxxx commented on #235
Flags can be add at `ActivityLifecycleCallbacks`.

just registerActivityLifecycleCallbacks on application onCreate

[code]

[2019-10-14 14:48] alexeyvasilyev commented on #221
Same crash on 6.0.

[2019-10-15 02:52] choryuidentify opened #240 "Application stuck when requesting ACCESS_BACKGROUND_LOCATION"
### Expected behaviour
Show permission is granted or not granted

### Actual behaviour
Stuck on there
tested on Android Q Emulator

### Steps to reproduce
Permission -> Location -> Choose 'Allow only while using app'
then, write code

        if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.Q) {
            Dexter.withActivity(this)
                    .withPermission(Manifest.permission.ACCESS_BA

[2019-10-15 14:06] sagarchoudhary96 opened #241 "Not receiving permission dialog if i reject for first time"
### Expected behaviour
It should ask for permission again.

### Actual behaviour
It don't ask for permission.

### Steps to reproduce
ask for permission on a button click , don't accept it and then again click the button to ask permission.

### Version of the library
"com.karumi:dexter:5.0.0"

[2019-10-16 07:57] chihung93 commented on #227
@pedrovgs : happens to me too....Its happen on Samsung devices

[2019-10-16 08:33] AcnNuriSezgin commented on #241
It happens to me.

[2019-10-16 13:21] sagarchoudhary96 commented on #241
@AcnNuriSezgin , it's working fine.

[2019-10-16 13:21] #241 closed

[2019-10-28 07:04] saadbzu opened #242 ""Denied Listener" in Multiple permissions listener"
I used Multiple Permissions, how i detect the when user "deny"(Not permanently denied only denied) one or all permissions?

[2019-10-28 14:53] TeoChopi opened #243 "Failure delivering result ResultInfo"
### Actual behaviour

[code]

### Version of the library
5.0.0

[2019-10-30 06:01] rohit6027 opened #244 "Getting below exception when permission is denied second time in fragment"
[code]

[2019-11-04 15:32] AlexDundar commented on #240
I have the same problem. Is there any solution?

[2019-11-05 01:00] mwarning commented on #91
@Serchinastico `<uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />` in AndroidManifest.xml works for me. (`<uses-permission>` will only open the general battery optimization menu)

[2019-11-08 11:01] pedrovgs commented on #235
Nice workaround @fanxxxx!

[2019-11-08 11:12] pedrovgs commented on #221
Hey @alexeyvasilyev @mhopmann I'm trying to reproduce the error you mentioned but there is no way. If I request any permission from the ``onResume`` method what I get is a stack overflow because Dexter opens an invisible activity and once the dialog is closed the onResume method is executed and this ends up in an infinite loop. I'm wondering if you could upload somewhere a repository reproducing t

[2019-11-08 11:52] pedrovgs commented on #240
Hi @choryuidentify @AlexDundar  I've been testing the issue you reported and it's not related to Dexter but the way you ask for the permission. When using the background location permission you have to request the fine location or coarse location permission too. However, your code is only requesting the background ones. If you use this code you'll see how the app is working now:

[code]

Remember

[2019-11-08 11:52] #240 closed

[2019-11-08 11:54] pedrovgs commented on #227
@chihung93 could you please upload any android project reproducing the issue in a simple example? Just a simple empty app where you can reproduce the issue. I'm trying to reproduce it in a new project, but there must be something I'm missing.

[2019-11-08 12:02] pedrovgs commented on #242
Hi @saadbzu the sample project contains an example of how you can know what permissions have been denied or permanently denied:

[code]

If you run the sample app you can find in this repository and press the ``REQUEST ALL`` button you'll be able to know which permissions are granted, which permissions are denied and which permissions are permanently denied:

![Screenshot 2019-11-08 at 13 00 13](h

[2019-11-08 12:02] #242 closed

[2019-11-08 12:06] pedrovgs commented on #243
Hi @TeoChopi could you please provide more information about this error? When is the exception triggered? What permission are you requested? Are you still facing this issue with the library version 6.0.0.? What are the steps to reproduce it? Do you have an example repository reproducing the error?

[2019-11-08 12:13] pedrovgs commented on #244
Hi @rohit6027 could you please provide more information about the error? What's the version of the library you are using when reproducing the error? Can you paste here the piece of code requesting the permission? Could you please list the steps to reproduce the error?

[2019-11-08 17:34] PatelAshish11 commented on #121
Go to project/.idea/libraries folder on your file system and see which libraries are different.
You will have to manually include these libraries with the same version in your build.gradle file.
Then, sync your project.
E.g.:

Ex [Here](https://icetutor.com/question/all-com-android-support-libraries-must-use-the-exact-same-version-specification/)

[2019-11-09 15:27] AkashGalani commented on #121
Go to project/.idea/libraries folder on your file system and see which libraries are different.
You will have to manually include these libraries with the same version in your build.gradle file.
Then, sync your project.

Example [Here](https://icetutor.com/question/all-com-android-support-libraries-must-use-the-exact-same-version-specification/)

[2019-11-09 15:28] AkashGalani commented on #217
Go to project/.idea/libraries folder on your file system and see which libraries are different.
You will have to manually include these libraries with the same version in your build.gradle file.
Then, sync your project.

Example [Here](https://icetutor.com/question/all-com-android-support-libraries-must-use-the-exact-same-version-specification/)

[2019-11-10 08:01] chihung93 commented on #227
@chihung93 : nope, I don't have time to do this anymore, Some device don't get this issue, but Samsung always get this problem....
It's only happening on Fragment and using Samsung device.

[2019-11-10 08:05] chihung93 commented on #227
My code is the same @sathishmscict , but I have this line token.continuePermissionRequest();

[code]

[2019-11-11 19:16] alexeyvasilyev commented on #221
This is my code. Issue started to happen when user denied permission request second time. Issue happens when randomly in 30-50% cases.

[code]

[2019-11-16 19:20] jay-ph opened #245 "Show snackbar when permission is denied"
### Expected behavior

Should show a message (snackbar or anything else) when one or multiple permissions are denied.

### Actual behavior

This feature is available for single permission only.

### Steps to reproduce

### Version of the library

latest one

[2019-11-19 17:17] GuilhE commented on #243
I think I may have the same issue in **v5.0.0**. Personally I never caught it, Fabric's log:

[code]

[code]

**Device**
Brand: samsung
Model: Galaxy A20e
Orientation: Portrait
RAM free: 723.34 MB
Disk free: 1.55 GB

**Operating System**
Version: 9
Orientation: Portrait
Rooted: No

About the permission itself, I'm not 100% sure, but I think it was for location.

[2019-11-29 06:20] rupinderjeet commented on #244
Hi, I received this too a few moments ago. I am using an AppCompatActivity and I call this code when a button is tapped. Exception stack trace is same as above.

I am using Kotlin with MVVM.

Library: 'com.karumi:dexter:6.0.0'
OS: Android Emulator v9.0

[code]

Is there any quick solution? I rely heavily on Dexter.

[2019-11-29 08:14] pedrovgs commented on #227
Only happening on Samsung devices @chihung93 ? I don't have any Samsung device to fix this issue at all. Could some external collaborators help us with this? We should first check how to reproduce the error.

[2019-11-29 08:20] pedrovgs commented on #221
@alexeyvasilyev with the code you provided we can't reproduce the bug because there are a lot of implementation details we don't have and could affect the implementation. Could you try to create an empty android project with the code reproducing the error? I'd love to be able to use your code but it's not possible right now because there is a lot of code missing. With this copy/pasted code the err

[2019-11-29 08:22] pedrovgs commented on #245
@jay-ph this is something you'll have to implement by yourself. Dexter only provides code needed to handle the approved or denied permissions. The code to show feedback to the user is up to you and your implementation details 😃

[2019-11-29 08:22] #245 closed

[2019-11-29 08:40] pedrovgs commented on #243
I'm going to send a PR with a tentative fix and once it's merged and release we will close the issue. We are not able to reproduce this error and our uses either so this will be a tentative fix. Please after releasing our new version update your app and let us know if you can still reproduce the error.

[2019-11-29 08:40] pedrovgs commented on #221
I'm going to send a PR with a tentative fix and once it's merged and release we will close the issue. We are not able to reproduce this error and our uses either so this will be a tentative fix. Please after releasing our new version update your app and let us know if you can still reproduce the error.

[2019-11-29 08:49] pedrovgs commented on #244
Hi @rohit6027 and @rupinderjeet I've sent a tentative fix for this error because even with the steps to reproduce you mentioned we are not able to reproduce the crash. I'd need you to try to reproduce this error in a demo project we can test manually and also to check if the new version we are going to publish as soon as https://github.com/Karumi/Dexter/pull/246 is merged fixes your issue. If the

[2019-11-29 09:08] rohit6027 commented on #244
ok I will provide you a demo project for this bug asap.

[2019-12-01 14:43] rohit6027 commented on #244
Hi, @pedrovgs I have created a demo project for this exception. Please check it.

Step to produce Exception:-
1. Permission dialog will be prompted when app launch
2. deny permission
3. dialog will be prompted again
4. deny it again and app will be crashed.

[](https://github.com/rohit6027/GlideException.git)

[2019-12-02 14:24] #221 closed

[2019-12-02 14:24] #243 closed

[2019-12-02 14:24] #244 closed

[2019-12-04 10:51] pedrovgs commented on #244
Thank you so much @rohit6027 your project helped me a lot to confirm the latest Dexter release fixed this issue. Update your app to use Dexter 6.0.1 and you won't ever see this error again.

[2019-12-04 10:52] pedrovgs commented on #221
I can confirm Dexter 6.0.1 fixed this issue. If someone else would check it out, that'd be awesome.

[2019-12-04 10:52] pedrovgs commented on #243
I can confirm Dexter 6.0.1 fixed this issue. If someone else would check it out, that'd be awesome.

[2019-12-04 11:30] GuilhE commented on #243
Olá Pedro,

Personally I could never reproduce this issue, I've only seen it on Fabric. I'll have to issue an update and wait for a period of time to see if it will get caught.
But as you state - and as you code shows - this is fixed :)

Thanks for your support.

[2019-12-06 12:02] karanbeer123 opened #247 "Location Permission"
### Expected behaviour
When i have grant the locaion permission after that service is start .and i have got the lat lng and when i have revoke the location permission manually from the setting class. and then got back to class then the got crash due to location service is running how can  i have handle this issue..

### Actual behaviour

### Steps to reproduce

### Version of the library
4.2.0

[2019-12-23 08:19] minhbnt-1512 commented on #84
This issue wasn't fixed in version 6.0.1. it still call onResume

[2019-12-23 09:15] Serchinastico commented on #84
It calls `onResume` because a native dialog is presented. We can't do anything about that, it's how Android runtime permissions system works.

If you are seeing an `onResume` call with no dialog whatsoever, please send us a minimal project reproducing the issue so that we can better debug what's going on.

[2019-12-27 11:38] mskn73 commented on #227
I am using dexter in a fragment and it is working in Galaxy S8 (G950F) with android 9. I am not sure if it fails in older Samsung devices. Also I tested with simple and multiple permissions.

[2019-12-30 17:11] neiljaywarner commented on #197
bump

[2020-01-08 07:55] pedrovgs commented on #247
Plase @karanbeer123 update the library version to the latest one and create a sample project reproducing your issue. With the description you provided, I won't be able to fix or review anything. Thank you in advance.

[2020-01-08 07:55] #247 closed

[2020-02-06 05:55] hafizarslan122 opened #249 "How to do in kotlin? Do it this into kotlin"
### Expected behaviour

### Actual behaviour

### Steps to reproduce

### Version of the library

[2020-02-06 07:02] #249 closed

[2020-02-18 14:44] NimaaZx commented on #231
@Papashkin Hi,
Can you resolve this problem ?

[2020-02-18 15:27] NimaaZx opened #250 "is it possible detecting which permission are denied and accepted in multi-permission interface ?"
I want to ask it this library can detect which permissions are denied and accepted in multi-permission interface ? I need this for better user management.

[2020-02-18 15:57] NimaaZx commented on #250
according to this issue ticket it is possible : https://github.com/Karumi/Dexter/issues/242

[2020-02-18 15:57] #250 closed

[2020-02-18 17:01] Slake07 opened #251 "java.lang.RuntimeException: Unknown exception code: 1 msg null"
### Expected behaviour
I am getting this error on my release on play store for some users. I don't know the exact behavior.
Here are crash report:

Fatal Exception: java.lang.RuntimeException: Unknown exception code: 1 msg null
       at android.os.Parcel.readException(Parcel.java:1477)
       at android.os.Parcel.readException(Parcel.java:1419)
       at android.app.ActivityManagerProxy.checkPerm

[2020-02-21 07:40] pedrovgs commented on #251
Thanks @slake07!

Do you know the volume of the occurrences? Can you share more information about the OS version where the bug is reproduced? What about the device model? It appears to be Android code throwing an error - leading us to believe it's either an Android bug or a bug in a certain flavors/forks of Android.

We'll investigate further and report back with any findings/plans to guard agains

[2020-03-02 11:09] Slake07 commented on #251
@pedrovgs
It occurred only once. which was on Lenovo mobile. Don't know the model number. OS Version is 4.4.2.

Another issue I also found with this library. should I create another bug or mention here only?

[2020-03-02 13:22] pedrovgs commented on #251
Please, if the bug is not related to this one create a new issue.

[2020-03-13 10:05] egek92 opened #252 "How to know if the user clicked "Never show me again" after deny?"
I want to display a dialog in which case

[2020-03-20 07:21] pedrovgs commented on #252
You can find [this property](https://github.com/Karumi/Dexter/blob/master/dexter/src/main/java/com/karumi/dexter/listener/PermissionDeniedResponse.java#L28) in the callback parameter invoked when the native permission dialog is closed. Please, let me know if this answered your question.

[2020-03-20 07:21] #252 closed

[2020-03-24 08:18] rckahale commented on #181
Yes, its happening in my case too.

The transparent activity created by the code stays even after closing of the dialog

May be the **fix** can be belonging to **DexterInstance.java**
`private` void startTransparentActivityIfNeeded() {
    Context context = this.context.get();
    if (context == null) {
      return;
    }

    Intent intent = intentProvider.get(context, DexterActivity.class);

[2020-03-27 11:54] nguyennh-0786 commented on #231
Maybe add a small delay time before doing something.

[2020-03-27 12:34] pedrovgs commented on #231
@Papashkin can you create a small project reproducing this issue so we can use it as a playground to see what's going on? Thank you in advance 😃

[2020-03-28 07:02] Akshay-73 commented on #212
I am also having the same issue my app got crash when  checked Never ask again and deny the permission how to handle this

[2020-03-28 07:02] Akshay-73 commented on #212
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: app.com.contest, PID: 19358
    java.lang.RuntimeException: Failure delivering result ResultInfo{who=@android:requestPermissions:, request=42, result=-1, data=Intent { act=android.content.pm.action.REQUEST_PERMISSIONS (has extras) }} to activity {app.com.contest/com.karumi.dexter.DexterActivity}: java.lang.NullPointerException: Attempt to invoke

[2020-04-03 07:15] deinlandel commented on #224
This problem doesn't seem to be in scope of the library. PermissionListener will usually hold some kind of reference to view or at least context, so it *should* be destroyed if your activity is destroyed. And library doesn't know how and when this listener was created so it's impossible for it to be recreayed automatically. It's up to your application to remember the fact that permissions were req

[2020-04-03 09:42] Serchinastico commented on #224
@deinlandel explained it perfectly!

[2020-04-03 09:42] #224 closed

[2020-04-03 09:46] Serchinastico commented on #223
This behavior is described in our [README](https://github.com/Karumi/Dexter#showing-a-rationale) and the [Android documentation for runtime permissions](https://developer.android.com/training/permissions/requesting#explain) and we are just bypassing it so that users can decide what to do.

[2020-04-03 09:46] #223 closed

[2020-04-03 09:48] #222 closed

[2020-04-03 09:49] #211 closed

[2020-04-03 12:25] #167 closed

[2020-04-05 16:15] natario1 commented on #224
In the normal flow of permissions (without any lib), it's not up to the application - it actually comes for free. Dialog will be re-shown automatically and the permission results listener will be called in the new activity/fragment. So this is a drawback of the library. Anyway, thanks for your answer!

[2020-04-07 08:42] Serchinastico opened #254 "Unable to publish new releases in Sonatype"
Last successful release was 6.0.2 but we are unable to release 6.1.0.

See if it's a problem with gradle, with sonatype or what is it.

[2020-04-08 06:41] pedrovgs commented on #181
Hi @rckahale thanks for reporting the issue. I tried to reproduce it following your instructions but I couldn't reproduce it. Could you please create a sample project reproducing the error or create a branch of this repository reproducing the error so we can review the bug? Thank you in advance.

[2020-04-08 06:44] pedrovgs commented on #212
Hi @rajeshdeva232 and @Akshay-73 could you please update your dexter version to the latest release available? This bug was fixed in PR #246 and released in version 6.0.1. If after updating the library you are still facing the NPE feel free to reopen this issue again.

[2020-04-08 06:44] #212 closed

[2020-04-08 08:15] rckahale commented on #181
Hi @pedrovgs
[https://github.com/rckahale/doubleback](https://github.com/rckahale/doubleback)
project has the replica.
Steps
1. Tap to next activity from home page
2. Deny permission of audio
3. Alert builder dialog opens (any button dismisses the dialog)
4. Now you need 2 backs to go from activity 2 to 1
If alert dialog is opened without dexter's withPermissions and associated listener functions,

[2020-04-08 08:41] Serchinastico commented on #254
We were using a really old version of Chris Banes's `gradle-mvn-push` script and it was updated recently to use the new `maven-publisher` plugin that comes with Gradle 3.6.0. Unfortunately, our project is still not ready to use it and so, it fails to release anything.

I'm now loading the old version of the script so that we can think later on how do we update our `build.gradle` configuration to u

[2020-04-08 08:41] #254 closed

[2020-04-17 20:48] kojofosu commented on #227
It works in my fragment class too...using a samsung s8 device

[2020-04-19 06:41] ValeryP commented on #181
Another way to reproduce the issue:

1. Show the dialog
2. Open app's settings screen using `context.startActivity(...)`
3. Click back button to close app settings and return to the app

Now the app requires two clicks back in order to close it.

[2020-04-22 13:23] pedrovgs commented on #181
Thank you so much @rckahale and @ValeryP for your sample project and reports. I've found what's going on.

The first one is related to the listener. There are two important details to keep in mind when using Dexter and the MultiplePermissionListener. You should invoke ``token?.continuePermissionRequest()`` at some point during the permission handling. In your scenario I think invoking this method

[2020-04-22 13:28] #181 closed

[2020-04-22 13:28] pedrovgs commented on #227
As we have two confirmations from different years of the library working in Samsung devices I'm closing the issue. Thank you all for your comments and help 😃

[2020-04-22 13:28] #227 closed

[2020-04-22 14:30] rckahale commented on #181
Call me dumb, but I don't get .

The function `token?.continuePermissionRequest()` doesn't return Boolean , but simply calls the permission control dialog with enable/disable buttons
How to decide whether there is a need to call subsequent, showSettingsDialog?

I have added to line to sample project.
https://github.com/rckahale/doubleback

which is leading to not so desired output

[2020-04-22 14:47] pedrovgs commented on #181
@rckahale before invoking continuePermissionRequest first avoid using dexter everytime onResume method is invoked. That's the first step. Once this is ready, yo can go and check the usage of the token.

[2020-04-27 03:54] Marsad-Ch commented on #227
I'm facing the same issue permission dialog appears in activity but not working in fragment

Here is the code which I'm using in fragment

[code]

when I click on button instead of showing permission dialog

the else statement runs and toast message shows

[code]

[2020-05-06 13:40] deinlandel opened #255 "Dexter probably should be able to launch transparent activity using any context"
### Expected behaviour
Dexter probably should be able to launch transparent activity using any context

### Actual behaviour
Context which is received in BroadcastReceiver.onReceive(), for example is neither activity nor application context. Since startTransparentActivityIfNeeded adds FLAG_ACTIVITY_NEW_TASK only if context is an instance of Application, this leads to an exception:
`android.util.An

[2020-05-08 13:13] pedrovgs commented on #255
Hello @deinlandel this is the first time I see you need to check any permission from a broadcast receiver but I guess this is an "expected" scenario since your latest PR #253. I'm fixing this issue which will be released as soon as the PR is merged.

Thanks for reporting!

[2020-05-08 14:11] #255 closed

[2020-05-08 14:31] ujwal-coditas opened #257 "Unable to resolve"
ERROR: Failed to resolve: com.karumi:dexter:6.1.2
Show in Project Structure dialog
Affected Modules: app

Below is my project level build.gradle, it has jcenter() in repositories. But still unable to resolve.
[code]

[2020-05-08 14:49] pedrovgs commented on #257
@ujwal-coditas I just released the binary minutes ago. Please try with the previous version. Dexter 6.1.0 is already available

[2020-05-08 14:49] #257 closed

[2020-05-08 14:55] ujwal-coditas commented on #257
Cool, thanks :)

[2020-05-15 07:42] chkdmin commented on #105
Good work!

[2020-05-26 04:12] c0dehunter commented on #231
I'm having the same problem. In Fragment, I use Dexter to ask for permissions, and for test I don't do anything in onPermissionGranted.  Still, the fragment closes.

[2020-06-10 13:03] marcus-vinicius-freitas opened #261 "onPermissionDenied is called even when the permission was already granted"
### Expected behaviour
I have an app that connects to Google Fit and in order to do that I need the Activity_Recognition permission, I ask it the first time the user connects, and, afterwards if I check it again it should say that the permission was granted.

### Actual behaviour
What is actually happening is that If I try to check again the onPermissionDenied will be called.

### Steps to reprodu

[2020-06-15 10:55] ShandyukSergey opened #262 "MultiPermissionsListener not called when reguest permissions from onPermissionGranted"
### Expected behaviour

MultiPermissionsListener called  when reguest  permissions from onPermissionGranted
### Actual behaviour

MultiPermissionsListener is NOT called  when reguest  permissions from onPermissionGranted
### Steps to reproduce

1. Request any permissions and grand them
2. Request another permissions inside previous onPermissionGranted callback
Second callback will be never notify.

[2020-06-16 20:11] carterhudson opened #263 "Check if a permission CHANGED in MultiplePermissionsReport?"
I want to be able to check / request multiple permissions and receive a permission report that lets me examine whether the requested permissions have changed, rather than just what their current status is, since the listener gets triggered even if you're just using Dexter to check if you have permissions, and not necessarily requesting them. The purpose for this, in my use-case, is for hooking in

[2020-06-17 12:51] XBlack97 commented on #261
I'm having same issue here to library version 6.2.0

[2020-06-19 09:50] riyatsa commented on #78
Attempt to invoke interface method 'void com.karumi.dexter.listener.multi.MultiplePermissionsListener.onPermissionsChecked(com.karumi.dexter.MultiplePermissionsReport)' on a null object reference

[2020-06-27 18:04] norbertschuler commented on #192
Have you ever got a solution for this? We have a similar problem with Dexter 6.2.0 and roboletric 4.3.1 trying to run a unit test like this:

java.lang.VerifyError: Bad type on operand stack in putfield
Exception Details:
  Location:
    com/karumi/dexter/Dexter.$$robo$$com_karumi_dexter_Dexter$__constructor__(Landroid/content/Context;)V @10: putfield
  Reason:
    Type 'android/content/Context' (

[2020-07-02 12:20] haliltprkk commented on #262
I am facing the same issue, as well

[2020-07-02 15:20] haliltprkk commented on #262
I have noticed it is about these two libraries that I have used for mediation over iron source advertisement

[code]
it is weird but when I remove these two it started to work normally 🤔

[2020-07-05 15:09] binarynoise commented on #262
It also happens when you start a second dialog very quickly (~1s) after returning to the Activity that requested the permission.

I digged around a bit and found, that the previous `DexterActivity` gets destroyed delayed.
In the meantime the new `DexterActivity` has appeared and registered its callback (aka `PermissionListener` or `MultiPermissionsListener`).
Then, after the new `DexterActivity` h

[2020-07-07 06:12] pedrovgs commented on #263
Hi @carterhudson I'm afraid this feature you are requesting is too specific and I don't think we should add it to Dexter. The current library implementation is full of features and the scenario you mention seems to be too specific for us. Sorry.

[2020-07-07 06:12] #263 closed

[2020-07-07 06:15] pedrovgs commented on #261
Hi @XBlack97 and @marcus-vinicius-freitas could you please upload a repository with an example reproducing the error mentioned.

[2020-07-07 06:19] pedrovgs commented on #192
Hi @norbertschuler what you post there seems to be a crash in a forced downcasting :S My recommendation for you in this scenario is to wrap Dexter instances with a class and use a mock instead. This should be a valid workaround.

[2020-07-07 06:31] norbertschuler commented on #192
@pedrovgs Thank you, but we have omitted creating a mock for Dexter now and just use it directly in Robolectric. We just granted access to our PermissionsListener object to the unit test, so the test can call `onPermissionsChecked` on it.

[2020-07-07 06:36] #262 closed

[2020-07-07 06:36] pedrovgs commented on #262
Thanks for the fix @binarynoise I'm releasing a new version with your fix.

[2020-08-12 12:45] IsslamEl opened #265 "Activity re-created after denying permission"
### Expected behaviour

Changing existing permission in app permissions settings from _Allow to Deny_ then returning to the activity where settings was called should call onResume.

### Actual behaviour

1- After clicking the back arrow from app settings and returning to my app, it gets recreated and Logcat shows onCreate being called not onResume.
2- When I click Go to Settings from my app and ch